NodeRedランキング機能.json
[{"id":"74201f52.286f","type":"tab","label":"ランキングチャットボットサンプル","disabled":false,"info":""},{"id":"3848988d.9003a8","type":"http in","z":"74201f52.286f","name":"","url":"/ranking_chat","method":"post","upload":false,"swaggerDoc":"","x":182.99998474121094,"y":257.0104079246521,"wires":[["8b816173.ff7b1"]]},{"id":"8b816173.ff7b1","type":"function","z":"74201f52.286f","name":"Watson用にリクエストデータを整形","func":"return Object.assign(\n    {},\n    msg,\n    {\n        payload: msg.payload.message || '',\n        params: {\n            session_id: msg.payload.sessionId\n        }\n    }\n);","outputs":1,"noerr":0,"x":470,"y":260,"wires":[["9b7d1a51.cdf7b8"]]},{"id":"9b7d1a51.cdf7b8","type":"watson-assistant-v2","z":"74201f52.286f","name":"チャットボット呼び出し","default-endpoint":false,"service-endpoint":"","assistant_id":"071ba70e-08b0-4b17-9f3f-b53e2e2d97cf","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"x":768.9999542236328,"y":257.0103974342346,"wires":[["a8132cae.74efc"]]},{"id":"c838a30a.073d4","type":"function","z":"74201f52.286f","name":"返答メッセージ整形","func":"msg.payload = {\n    messages: msg.temp.messages,\n    sessionId: msg.temp.sessionId,\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":3083.982635498047,"y":255.00000143051147,"wires":[["dcf14ed6.42e1b"]]},{"id":"dcf14ed6.42e1b","type":"http response","z":"74201f52.286f","name":"","statusCode":"","headers":{},"x":3302.982635498047,"y":255.00000143051147,"wires":[]},{"id":"4253e22.d58e11c","type":"http request","z":"74201f52.286f","name":"ランキング取得","method":"GET","ret":"txt","paytoqs":true,"url":"https://app.rakuten.co.jp/services/api/IchibaItem/Ranking/20170628?applicationId=1033919976880347227","tls":"","proxy":"","authType":"","x":1820,"y":120,"wires":[["8ef8c5b.e507a38","4aaf89c1.f910d8"]]},{"id":"fb38ec47.dea8c","type":"switch","z":"74201f52.286f","name":"パラメータが揃っているか","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"$boolean(payload.context.skills.`main skill`.user_defined.sex)","vt":"jsonata"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1389.999984741211,"y":257.0104079246521,"wires":[["17c514fc.229c3b","d6a7d047.7cc48","acf2554b.d5ab78"],["c838a30a.073d4"]]},{"id":"a8132cae.74efc","type":"change","z":"74201f52.286f","name":"セッションIDと応答メッセージの保存","rules":[{"t":"set","p":"temp.sessionId","pt":"msg","to":"payload.session_id","tot":"msg"},{"t":"set","p":"temp.messages","pt":"msg","to":"msg.payload.output.generic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1071,"y":257.0104675292969,"wires":[["fb38ec47.dea8c","ca58ffe0.bd773"]]},{"id":"25cea8ee.a4b4c8","type":"comment","z":"74201f52.286f","name":"未入力の条件あり","info":"","x":1350,"y":320,"wires":[]},{"id":"b8713e6b.a1885","type":"comment","z":"74201f52.286f","name":"全ての条件が入力済み","info":"","x":1360,"y":200,"wires":[]},{"id":"16ab5f17.126361","type":"http in","z":"74201f52.286f","name":"","url":"/ranking_chat/page","method":"get","upload":false,"swaggerDoc":"","x":147.52811813354492,"y":117.72725105285645,"wires":[["f51cefb3.cdef"]]},{"id":"3a562329.ddd44c","type":"http response","z":"74201f52.286f","name":"","statusCode":"","headers":{},"x":747.9826507568359,"y":118,"wires":[]},{"id":"f51cefb3.cdef","type":"template","z":"74201f52.286f","name":"チャットボット画面HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <title>BotUI - Git Stars Bot</title>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, maximum-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://unpkg.com/botui/build/botui.min.css\" />\n    <link rel=\"stylesheet\" href=\"https://unpkg.com/botui/build/botui-theme-default.css\" />\n    <meta name=\"description\" content=\"A bot that fetches starts of a repo from Github. A conversational UI built using BotUI.\">\n  </head>\n  <body>\n    <div class=\"botui-app-container\" id=\"stars-bot\">\n      <bot-ui></bot-ui>\n    </div>\n    <script src=\"https://cdn.jsdelivr.net/vue/2.0.5/vue.min.js\"></script>\n    <script src=\"https://unpkg.com/botui/build/botui.js\"></script>\n    <script>\n    var loadingMsgIndex,\n        botui = new BotUI('stars-bot'),\n        API = '/ranking_chat';\n    var sessionId;\n\n    function init() {\n      var xhr = new XMLHttpRequest();\n      var self = this;\n      xhr.open('POST', API);\n      xhr.onload = function () {\n        var res = JSON.parse(xhr.responseText);\n        sessionId = res.sessionId;\n        loopMessaging(res.messages);\n      }\n      xhr.send();\n    }\n\n    function loopMessaging(messages) {\n      messages.forEach(aMessage => {\n        botui.message.bot({ content: aMessage.text });\n        botui.action.text({\n          action: {\n            value: '',\n          }\n        })\n        .then((userInput) => {\n          var xhr = new XMLHttpRequest();\n          xhr.open('POST', API);\n          xhr.setRequestHeader(\"Content-Type\", \"application/json; charset=utf-8\");\n          xhr.onload = function () {\n            var res = JSON.parse(xhr.responseText);\n            loopMessaging(res.messages);\n          };\n          console.log(JSON.stringify({ message: userInput.value, sessionId: sessionId }));\n          xhr.send(JSON.stringify({ message: userInput.value, sessionId: sessionId }));\n        });\n      });\n    }\n\n    init();\n    </script>\n  </body>\n</html>","output":"str","x":486.0735511779785,"y":117.81814575195312,"wires":[["3a562329.ddd44c"]]},{"id":"a9bd83a1.61aed","type":"watson-assistant-v2","z":"74201f52.286f","name":"チャットボット呼び出し","default-endpoint":false,"service-endpoint":"","assistant_id":"071ba70e-08b0-4b17-9f3f-b53e2e2d97cf","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"x":2439.982635498047,"y":123.00000143051147,"wires":[["53914c70.6c86d4"]]},{"id":"8ef8c5b.e507a38","type":"function","z":"74201f52.286f","name":"Watson用にデータを整形","func":"// 楽天APIの取得結果\nconst res = JSON.parse(msg.payload);\nlet rankitem = []\nfor (let i=0; i<5; i++) {\n   rankitem.push(res.Items[i].Item.itemName);\n}\nlet rankitemUrl = []\nfor (let i=0; i<5; i++) {\n   rankitemUrl.push(res.Items[i].Item.itemUrl);\n}\nlet rankitemShop = []\nfor (let i=0; i<5; i++) {\n   rankitemShop.push(res.Items[i].Item.shopName);\n}\nlet rankitemPrice = []\nfor (let i=0; i<5; i++) {\n   rankitemPrice.push(res.Items[i].Item.itemPrice);\n}\nvar ranknumber = flow.get(\"ranknumber\")-1;\nreturn Object.assign(\n    {},\n    msg,\n    {\n        payload: null,\n        params: {\n            session_id: msg.temp.sessionId\n        },\n        additional_context: {\n            appParam: {\n                rankingInfo: {\n                    rankitem,\n                    rankitemUrl,\n                    rankitemShop,\n                    rankitemPrice,\n                    ranknumber\n                }\n            }\n        }\n    }\n   \n);","outputs":1,"noerr":0,"x":2115.999984741211,"y":121.00000143051147,"wires":[["a9bd83a1.61aed"]]},{"id":"12a70422.b4d50c","type":"function","z":"74201f52.286f","name":"Watson用にリクエストデータを整形","func":"return Object.assign(\n    {},\n    msg,\n    {\n        payload: msg.payload.message || '',\n        params: {\n            session_id: msg.payload.sessionId\n        },\n        additional_context: {\n            fuga: ':|--.........'\n        }\n    }\n);","outputs":1,"noerr":0,"x":1699.982650756836,"y":1305.9999895095825,"wires":[["75bc94db.eb9abc"]]},{"id":"75bc94db.eb9abc","type":"watson-assistant-v2","z":"74201f52.286f","name":"チャットボット呼び出し","default-endpoint":false,"service-endpoint":"https://gateway-tok.watsonplatform.net/assistant/api","assistant_id":"d7de4d39-d6b4-468d-bf22-0f41158bafdb","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"x":1995.9826202392578,"y":1304.9999895095825,"wires":[["71c3899f.7b1008","255f96ac.9fa20a"]]},{"id":"d503ed5.89eb31","type":"function","z":"74201f52.286f","name":"返答メッセージ整形","func":"/*\nif (msg.temp && msg.temp.rakuten) {\n    let res = JSON.parse(msg.temp.rakuten);\n    let hotelbasicInfo = res.hotels[0].hotel.find(h => h.hotelBasicInfo).hotelBasicInfo;\n    (msg.temp.messages || []).push({\n        \"response_type\": \"text\",\n        \"text\": `こちらはいかがでしょうか。<br /><a href=\"${hotelbasicInfo.planListUrl}\" target=\"_new\">${hotelbasicInfo.hotelName}</a>`\n    });\n}\n*/\n\nif (msg.temp && msg.temp.rakuten) {\n    let res = JSON.parse(msg.temp.rakuten);\n    const temperature = Math.round((res.currently.temperature - 32) / 1.8 * 10) / 10;\n    const precipProbability = res.currently.precipProbability * 100;\n    msg.temp.messages = (\n        [{\n            \"response_type\": \"text\",\n            \"text\": `気温は${temperature}度、降水確率は${precipProbability}%です。`\n        }]\n        .concat(msg.temp.messages)\n    );\n}\n\nmsg.payload = {\n    messages: msg.temp.messages,\n    sessionId: msg.temp.sessionId,\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":3700.982650756836,"y":1306,"wires":[["259dd79.bc9ee28"]]},{"id":"fd4c390b.4412a8","type":"http request","z":"74201f52.286f","name":"気象情報取得","method":"GET","ret":"txt","paytoqs":true,"url":"https://api.darksky.net/forecast/2fbb6de6eb9546d9c51a46b3166c6f07/{{{payload.location}}}","tls":"","proxy":"","authType":"","x":3155.8398513793945,"y":1210.999994277954,"wires":[["132949f7.c1cc56"]]},{"id":"273571af.2ae70e","type":"switch","z":"74201f52.286f","name":"パラメータが揃っているか","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"$exists(payload.context.skills.`main skill`.user_defined.location)\t","vt":"jsonata"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2616.982650756836,"y":1305,"wires":[["9980ce88.5a555"],["2e4fca23.4a36c6"]]},{"id":"9980ce88.5a555","type":"function","z":"74201f52.286f","name":"APIパラメータ構築","func":"const params = msg.payload.context.skills['main skill'].user_defined;\nconst locations = {\n\"北海道\": \"43.064278,141.346785\",\n\"札幌市\": \"43.061945,141.354395\",\n\"札幌市中央区\": \"43.05539,141.34098\",\n\"札幌市北区\": \"43.090691,141.340922\",\n\"札幌市東区\": \"43.076111,141.363616\",\n\"札幌市白石区\": \"43.045445,141.396378\",\n\"札幌市豊平区\": \"43.031366,141.379978\",\n\"札幌市南区\": \"42.989953,141.353372\",\n\"札幌市西区\": \"43.074358,141.300899\",\n\"札幌市厚別区\": \"43.036146,141.474747\",\n\"札幌市手稲区\": \"43.121851,141.245651\",\n\"札幌市清田区\": \"42.999538,141.443891\",\n\"函館市\": \"41.768679,140.729127\",\n\"小樽市\": \"43.190808,140.994309\",\n\"旭川市\": \"43.770846,142.364852\",\n\"室蘭市\": \"42.315208,140.973632\",\n\"釧路市\": \"42.984834,144.381688\",\n\"帯広市\": \"42.923691,143.196577\",\n\"北見市\": \"43.803993,143.895729\",\n\"夕張市\": \"43.056825,141.973979\",\n\"岩見沢市\": \"43.196194,141.775852\",\n\"網走市\": \"44.020626,144.273489\",\n\"留萌市\": \"43.940969,141.63685\",\n\"苫小牧市\": \"42.634085,141.60551\",\n\"稚内市\": \"45.415553,141.673146\",\n\"美唄市\": \"43.332986,141.854003\",\n\"芦別市\": \"43.518199,142.189544\",\n\"江別市\": \"43.103613,141.535988\",\n\"赤平市\": \"43.557968,142.044169\",\n\"紋別市\": \"44.356484,143.354067\",\n\"士別市\": \"44.178664,142.400461\",\n\"名寄市\": \"44.35584,142.463195\",\n\"三笠市\": \"43.245802,141.875619\",\n\"根室市\": \"43.329998,145.582953\",\n\"千歳市\": \"42.82151,141.651075\",\n\"滝川市\": \"43.557741,141.910458\",\n\"砂川市\": \"43.494748,141.903492\",\n\"歌志内市\": \"43.52161,142.035285\",\n\"深川市\": \"43.723257,142.053576\",\n\"富良野市\": \"43.341919,142.383205\",\n\"登別市\": \"42.412732,141.106562\",\n\"恵庭市\": \"42.882472,141.577912\",\n\"伊達市\": \"42.471915,140.864745\",\n\"北広島市\": \"42.986821,141.563659\",\n\"石狩市\": \"43.171348,141.31542\",\n\"北斗市\": \"41.824143,140.652908\",\n\"当別町\": \"43.223821,141.517094\",\n\"新篠津村\": \"43.225271,141.649305\",\n\"松前町\": \"41.430033,140.110498\",\n\"福島町\": \"41.483613,140.251317\",\n\"知内町\": \"41.598356,140.418854\",\n\"木古内町\": \"41.678402,140.437626\",\n\"七飯町\": \"41.895692,140.694374\",\n\"鹿部町\": \"42.038598,140.815914\",\n\"森町\": \"42.104972,140.576481\",\n\"八雲町\": \"42.25589,140.26525\",\n\"長万部町\": \"42.514005,140.380866\",\n\"江差町\": \"41.869289,140.127616\",\n\"上ノ国町\": \"41.800825,140.120342\",\n\"厚沢部町\": \"41.92098,140.225327\",\n\"乙部町\": \"41.968611,140.135472\",\n\"奥尻町\": \"42.172292,139.514152\",\n\"今金町\": \"42.429363,140.008705\",\n\"せたな町\": \"42.414861,139.876243\",\n\"島牧村\": \"42.700498,140.061481\",\n\"寿都町\": \"42.791053,140.228782\",\n\"黒松内町\": \"42.667792,140.307781\",\n\"蘭越町\": \"42.809225,140.528367\",\n\"ニセコ町\": \"42.804841,140.687548\",\n\"真狩村\": \"42.763015,140.803541\",\n\"留寿都村\": \"42.73741,140.875619\",\n\"喜茂別町\": \"42.795405,140.934611\",\n\"京極町\": \"42.85823,140.884057\",\n\"倶知安町\": \"42.901721,140.759037\",\n\"共和町\": \"42.980403,140.611239\",\n\"岩内町\": \"42.979761,140.514773\",\n\"泊村\": \"43.063029,140.49902\",\n\"神恵内村\": \"43.143879,140.430826\",\n\"積丹町\": \"43.299064,140.598331\",\n\"古平町\": \"43.265484,140.638941\",\n\"仁木町\": \"43.154638,140.764132\",\n\"余市町\": \"43.195329,140.783572\",\n\"赤井川村\": \"43.083537,140.813577\",\n\"南幌町\": \"43.063704,141.650257\",\n\"奈井江町\": \"43.425311,141.882888\",\n\"上砂川町\": \"43.48267,141.984078\",\n\"由仁町\": \"42.999549,141.790359\",\n\"長沼町\": \"43.010378,141.695396\",\n\"栗山町\": \"43.056292,141.784163\",\n\"月形町\": \"43.338397,141.669604\",\n\"浦臼町\": \"43.430447,141.818919\",\n\"新十津川町\": \"43.548492,141.877073\",\n\"妹背牛町\": \"43.70034,141.962058\",\n\"秩父別町\": \"43.766999,141.958499\",\n\"雨竜町\": \"43.643954,141.889012\",\n\"北竜町\": \"43.731472,141.879147\",\n\"沼田町\": \"43.806744,141.933443\",\n\"鷹栖町\": \"43.84331,142.354403\",\n\"東神楽町\": \"43.696276,142.451653\",\n\"当麻町\": \"43.828123,142.508418\",\n\"比布町\": \"43.875006,142.477695\",\n\"愛別町\": \"43.906561,142.578073\",\n\"上川町\": \"43.847102,142.77045\",\n\"東川町\": \"43.698916,142.510091\",\n\"美瑛町\": \"43.588315,142.467074\",\n\"上富良野町\": \"43.455578,142.467164\",\n\"中富良野町\": \"43.405785,142.425152\",\n\"南富良野町\": \"43.164085,142.568365\",\n\"占冠村\": \"42.979878,142.398532\",\n\"和寒町\": \"44.023154,142.413358\",\n\"剣淵町\": \"44.095768,142.361253\",\n\"下川町\": \"44.302575,142.635238\",\n\"美深町\": \"44.48099,142.34303\",\n\"音威子府村\": \"44.724931,142.262022\",\n\"中川町\": \"44.811332,142.07134\",\n\"幌加内町\": \"44.009812,142.153828\",\n\"増毛町\": \"43.856032,141.525197\",\n\"小平町\": \"44.015157,141.662844\",\n\"苫前町\": \"44.306095,141.653022\",\n\"羽幌町\": \"44.360701,141.697458\",\n\"初山別村\": \"44.531934,141.766495\",\n\"遠別町\": \"44.722278,141.792177\",\n\"天塩町\": \"44.888313,141.745366\",\n\"猿払村\": \"45.330577,142.108889\",\n\"浜頓別町\": \"45.123993,142.359577\",\n\"中頓別町\": \"44.969757,142.286594\",\n\"枝幸町\": \"44.938836,142.581257\",\n\"豊富町\": \"45.102864,141.777537\",\n\"礼文町\": \"45.303877,141.047458\",\n\"利尻町\": \"45.186976,141.13968\",\n\"利尻富士町\": \"45.247473,141.214726\",\n\"幌延町\": \"45.017716,141.849403\",\n\"美幌町\": \"43.823729,144.107177\",\n\"津別町\": \"43.706323,144.024801\",\n\"斜里町\": \"43.911426,144.670763\",\n\"清里町\": \"43.835182,144.594523\",\n\"小清水町\": \"43.85672,144.462121\",\n\"訓子府町\": \"43.725535,143.741602\",\n\"置戸町\": \"43.676314,143.586391\",\n\"佐呂間町\": \"44.017808,143.77478\",\n\"遠軽町\": \"44.061714,143.528019\",\n\"湧別町\": \"44.151484,143.572955\",\n\"滝上町\": \"44.192186,143.077654\",\n\"興部町\": \"44.470114,143.123512\",\n\"西興部村\": \"44.328778,142.944461\",\n\"雄武町\": \"44.58247,142.96186\",\n\"大空町\": \"43.911858,144.172473\",\n\"豊浦町\": \"42.583449,140.711921\",\n\"壮瞥町\": \"42.552385,140.886031\",\n\"白老町\": \"42.551109,141.355788\",\n\"厚真町\": \"42.722973,141.878173\",\n\"洞爺湖町\": \"42.551458,140.764445\",\n\"安平町\": \"42.762829,141.818092\",\n\"むかわ町\": \"42.574655,141.926905\",\n\"日高町\": \"42.480356,142.074652\",\n\"平取町\": \"42.585164,142.1288\",\n\"新冠町\": \"42.362416,142.318487\",\n\"浦河町\": \"42.168563,142.768387\",\n\"様似町\": \"42.127797,142.933875\",\n\"えりも町\": \"42.016235,143.148779\",\n\"新ひだか町\": \"42.341281,142.368346\",\n\"音更町\": \"42.994154,143.198017\",\n\"士幌町\": \"43.168191,143.241088\",\n\"上士幌町\": \"43.232659,143.296219\",\n\"鹿追町\": \"43.099162,142.988807\",\n\"新得町\": \"43.079799,142.83882\",\n\"清水町\": \"43.011059,142.884764\",\n\"芽室町\": \"42.911891,143.050841\",\n\"中札内村\": \"42.697185,143.132568\",\n\"更別村\": \"42.649998,143.188148\",\n\"大樹町\": \"42.497517,143.278871\",\n\"広尾町\": \"42.285987,143.311687\",\n\"幕別町\": \"42.908198,143.356063\",\n\"池田町\": \"42.929032,143.448496\",\n\"豊頃町\": \"42.801021,143.505862\",\n\"本別町\": \"43.124459,143.610556\",\n\"足寄町\": \"43.244581,143.551971\",\n\"陸別町\": \"43.468897,143.747307\",\n\"浦幌町\": \"42.808941,143.658628\",\n\"釧路町\": \"42.99617,144.466012\",\n\"厚岸町\": \"43.051953,144.847504\",\n\"浜中町\": \"43.0771,145.129421\",\n\"標茶町\": \"43.30336,144.600681\",\n\"弟子屈町\": \"43.485389,144.459073\",\n\"鶴居村\": \"43.229775,144.321071\",\n\"白糠町\": \"42.956132,144.071749\",\n\"別海町\": \"43.394114,145.117437\",\n\"中標津町\": \"43.555172,144.971444\",\n\"標津町\": \"43.661331,145.131313\",\n\"羅臼町\": \"44.021897,145.189466\",\n\"青森県\": \"40.824338,140.740087\",\n\"青森市\": \"40.822116,140.747587\",\n\"弘前市\": \"40.602965,140.464008\",\n\"八戸市\": \"40.511892,141.489479\",\n\"黒石市\": \"40.642687,140.594551\",\n\"五所川原市\": \"40.807943,140.440112\",\n\"十和田市\": \"40.612705,141.205891\",\n\"三沢市\": \"40.683259,141.368929\",\n\"むつ市\": \"41.292734,141.183459\",\n\"つがる市\": \"40.808775,140.380117\",\n\"平川市\": \"40.584083,140.5665\",\n\"平内町\": \"40.926,140.956175\",\n\"今別町\": \"41.182071,140.481482\",\n\"蓬田村\": \"40.971819,140.655921\",\n\"外ヶ浜町\": \"41.0434,140.632316\",\n\"鰺ヶ沢町\": \"40.779884,140.208742\",\n\"深浦町\": \"40.647944,139.927664\",\n\"西目屋村\": \"40.576852,140.296246\",\n\"藤崎町\": \"40.656096,140.502814\",\n\"大鰐町\": \"40.518256,140.567891\",\n\"田舎館村\": \"40.631576,140.55011\",\n\"板柳町\": \"40.69601,140.457615\",\n\"鶴田町\": \"40.758781,140.428726\",\n\"中泊町\": \"40.960427,140.434122\",\n\"野辺地町\": \"40.864344,141.128666\",\n\"七戸町\": \"40.744662,141.158018\",\n\"六戸町\": \"40.609654,141.324768\",\n\"横浜町\": \"41.08321,141.247534\",\n\"東北町\": \"40.728086,141.257815\",\n\"六ヶ所村\": \"40.967391,141.374474\",\n\"おいらせ町\": \"40.599101,141.397818\",\n\"大間町\": \"41.526771,140.907445\",\n\"東通村\": \"41.277914,141.329466\",\n\"風間浦村\": \"41.487608,140.995596\",\n\"佐井村\": \"41.429833,140.859217\",\n\"三戸町\": \"40.378292,141.258672\",\n\"五戸町\": \"40.531052,141.307829\",\n\"田子町\": \"40.339961,141.152017\",\n\"南部町\": \"40.466791,141.381786\",\n\"階上町\": \"40.452458,141.621135\",\n\"新郷村\": \"40.465779,141.173399\",\n\"岩手県\": \"39.703647,141.152592\",\n\"盛岡市\": \"39.701981,141.154259\",\n\"宮古市\": \"39.641453,141.957245\",\n\"大船渡市\": \"39.082068,141.708399\",\n\"花巻市\": \"39.388684,141.116773\",\n\"北上市\": \"39.28675,141.113166\",\n\"久慈市\": \"40.190271,141.775299\",\n\"遠野市\": \"39.327651,141.533912\",\n\"一関市\": \"38.934568,141.126511\",\n\"陸前高田市\": \"39.027713,141.625599\",\n\"釜石市\": \"39.275937,141.885596\",\n\"二戸市\": \"40.271085,141.304783\",\n\"八幡平市\": \"39.956497,141.071289\",\n\"奥州市\": \"39.144545,141.139002\",\n\"滝沢市\": \"39.734753,141.077042\",\n\"雫石町\": \"39.696142,140.975664\",\n\"葛巻町\": \"40.039726,141.436443\",\n\"岩手町\": \"39.972506,141.212577\",\n\"紫波町\": \"39.554601,141.155684\",\n\"矢巾町\": \"39.60588,141.143152\",\n\"西和賀町\": \"39.318039,140.778805\",\n\"金ケ崎町\": \"39.19565,141.116224\",\n\"平泉町\": \"38.986784,141.114011\",\n\"住田町\": \"39.142209,141.575052\",\n\"大槌町\": \"39.358655,141.899986\",\n\"山田町\": \"39.467584,141.948919\",\n\"岩泉町\": \"39.843092,141.796697\",\n\"田野畑村\": \"39.930306,141.888909\",\n\"普代村\": \"40.005297,141.88613\",\n\"軽米町\": \"40.326637,141.460599\",\n\"野田村\": \"40.110005,141.818077\",\n\"九戸村\": \"40.211372,141.418941\",\n\"洋野町\": \"40.408578,141.71807\",\n\"一戸町\": \"40.213036,141.295341\",\n\"宮城県\": \"38.268803,140.871846\",\n\"仙台市\": \"38.26797,140.869625\",\n\"仙台市青葉区\": \"38.269081,140.870458\",\n\"仙台市宮城野区\": \"38.266305,140.910176\",\n\"仙台市若林区\": \"38.244085,140.900734\",\n\"仙台市太白区\": \"38.224364,140.877126\",\n\"仙台市泉区\": \"38.326297,140.881287\",\n\"石巻市\": \"38.434239,141.302768\",\n\"塩竈市\": \"38.314359,141.022108\",\n\"気仙沼市\": \"38.908195,141.570083\",\n\"白石市\": \"38.002155,140.619657\",\n\"名取市\": \"38.171592,140.891849\",\n\"角田市\": \"37.977162,140.781867\",\n\"多賀城市\": \"38.293806,141.004333\",\n\"岩沼市\": \"38.104375,140.86991\",\n\"登米市\": \"38.691819,141.187625\",\n\"栗原市\": \"38.730144,141.021253\",\n\"東松島市\": \"38.426295,141.210413\",\n\"大崎市\": \"38.577104,140.955435\",\n\"富谷市\": \"38.400135,140.895388\",\n\"蔵王町\": \"38.09798,140.658815\",\n\"七ケ宿町\": \"37.992985,140.441618\",\n\"大河原町\": \"38.049376,140.730757\",\n\"村田町\": \"38.118536,140.72242\",\n\"柴田町\": \"38.056321,140.765753\",\n\"川崎町\": \"38.177695,140.643535\",\n\"丸森町\": \"37.911337,140.765483\",\n\"亘理町\": \"38.037714,140.852692\",\n\"山元町\": \"37.962445,140.877693\",\n\"松島町\": \"38.38011,141.067228\",\n\"七ヶ浜町\": \"38.30464,141.059327\",\n\"利府町\": \"38.330181,140.975364\",\n\"大和町\": \"38.437292,140.886315\",\n\"大郷町\": \"38.424345,141.004325\",\n\"大衡村\": \"38.467392,140.880169\",\n\"色麻町\": \"38.548772,140.849891\",\n\"加美町\": \"38.571826,140.854889\",\n\"涌谷町\": \"38.539612,141.128194\",\n\"美里町\": \"38.544332,141.056813\",\n\"女川町\": \"38.449748,141.44313\",\n\"南三陸町\": \"38.680666,141.462492\",\n\"秋田県\": \"39.718058,140.10325\",\n\"秋田市\": \"39.719724,140.102417\",\n\"能代市\": \"40.212167,140.026568\",\n\"横手市\": \"39.313779,140.566677\",\n\"大館市\": \"40.271618,140.564571\",\n\"男鹿市\": \"39.886643,139.847711\",\n\"湯沢市\": \"39.163968,140.494902\",\n\"鹿角市\": \"40.215799,140.788441\",\n\"由利本荘市\": \"39.38588,140.048829\",\n\"潟上市\": \"39.857288,140.013049\",\n\"大仙市\": \"39.453101,140.475451\",\n\"北秋田市\": \"40.226062,140.370702\",\n\"にかほ市\": \"39.203114,139.907729\",\n\"仙北市\": \"39.700022,140.731524\",\n\"小坂町\": \"40.332969,140.736025\",\n\"上小阿仁村\": \"40.063302,140.295716\",\n\"藤里町\": \"40.278276,140.26182\",\n\"三種町\": \"40.101623,140.004909\",\n\"八峰町\": \"40.319082,140.03862\",\n\"五城目町\": \"39.944144,140.111572\",\n\"八郎潟町\": \"39.949421,140.073243\",\n\"井川町\": \"39.914146,140.081577\",\n\"大潟村\": \"40.017742,139.959918\",\n\"美郷町\": \"39.461633,140.582127\",\n\"羽後町\": \"39.198128,140.412687\",\n\"東成瀬村\": \"39.178971,140.648773\",\n\"山形県\": \"38.240457,140.363278\",\n\"山形市\": \"38.255429,140.339435\",\n\"米沢市\": \"37.922151,140.116925\",\n\"鶴岡市\": \"38.727333,139.826642\",\n\"酒田市\": \"38.914533,139.836357\",\n\"新庄市\": \"38.76484,140.301875\",\n\"寒河江市\": \"38.380996,140.276061\",\n\"上山市\": \"38.149631,140.267735\",\n\"村山市\": \"38.483488,140.380494\",\n\"長井市\": \"38.107685,140.040535\",\n\"天童市\": \"38.362111,140.378274\",\n\"東根市\": \"38.431271,140.391048\",\n\"尾花沢市\": \"38.600696,140.405762\",\n\"南陽市\": \"38.055194,140.148305\",\n\"山辺町\": \"38.289061,140.262452\",\n\"中山町\": \"38.333224,140.283006\",\n\"河北町\": \"38.42627,140.314389\",\n\"西川町\": \"38.426543,140.147733\",\n\"朝日町\": \"38.299056,140.145795\",\n\"大江町\": \"38.380717,140.206621\",\n\"大石田町\": \"38.593752,140.37271\",\n\"金山町\": \"38.883439,140.339367\",\n\"最上町\": \"38.758458,140.519356\",\n\"舟形町\": \"38.691516,140.319931\",\n\"真室川町\": \"38.857884,140.252431\",\n\"大蔵村\": \"38.704012,140.230493\",\n\"鮭川村\": \"38.796223,140.221602\",\n\"戸沢村\": \"38.737617,140.143556\",\n\"高畠町\": \"38.0027,140.189137\",\n\"川西町\": \"38.004362,140.045817\",\n\"小国町\": \"38.061377,139.743286\",\n\"白鷹町\": \"38.182956,140.098582\",\n\"飯豊町\": \"38.045746,139.987487\",\n\"三川町\": \"38.794547,139.849693\",\n\"庄内町\": \"38.84982,139.904686\",\n\"遊佐町\": \"39.014802,139.907457\",\n\"福島県\": \"37.749957,140.467734\",\n\"福島市\": \"37.760789,140.473844\",\n\"会津若松市\": \"37.494694,139.92974\",\n\"郡山市\": \"37.400548,140.359702\",\n\"いわき市\": \"37.050602,140.887726\",\n\"白河市\": \"37.126326,140.210868\",\n\"須賀川市\": \"37.286672,140.372763\",\n\"喜多方市\": \"37.651063,139.874461\",\n\"相馬市\": \"37.797353,140.918937\",\n\"二本松市\": \"37.584696,140.431357\",\n\"田村市\": \"37.440701,140.576162\",\n\"南相馬市\": \"37.642205,140.957145\",\n\"伊達市\": \"37.819023,140.562873\",\n\"本宮市\": \"37.513314,140.393862\",\n\"桑折町\": \"37.849391,140.516338\",\n\"国見町\": \"37.876785,140.549168\",\n\"川俣町\": \"37.664969,140.598283\",\n\"大玉村\": \"37.534422,140.371086\",\n\"鏡石町\": \"37.252785,140.3436\",\n\"天栄村\": \"37.255283,140.247221\",\n\"下郷町\": \"37.252219,139.867254\",\n\"檜枝岐村\": \"37.024181,139.388975\",\n\"只見町\": \"37.348583,139.315915\",\n\"南会津町\": \"37.200278,139.773376\",\n\"北塩原村\": \"37.655787,139.937788\",\n\"西会津町\": \"37.587029,139.649456\",\n\"磐梯町\": \"37.56191,139.988343\",\n\"猪苗代町\": \"37.557745,140.104721\",\n\"会津坂下町\": \"37.56135,139.821692\",\n\"湯川村\": \"37.565396,139.8867\",\n\"柳津町\": \"37.526073,139.719481\",\n\"三島町\": \"37.470244,139.64449\",\n\"金山町\": \"37.453853,139.524781\",\n\"昭和村\": \"37.335813,139.61061\",\n\"会津美里町\": \"37.459973,139.841139\",\n\"西郷村\": \"37.141823,140.155316\",\n\"泉崎村\": \"37.153736,140.303296\",\n\"中島村\": \"37.148631,140.35027\",\n\"矢吹町\": \"37.201124,140.338602\",\n\"棚倉町\": \"37.029757,140.379717\",\n\"矢祭町\": \"36.871444,140.424719\",\n\"塙町\": \"36.957267,140.409717\",\n\"鮫川村\": \"37.042538,140.509705\",\n\"石川町\": \"37.157059,140.446947\",\n\"玉川村\": \"37.210847,140.408874\",\n\"平田村\": \"37.221791,140.575871\",\n\"浅川町\": \"37.080863,140.412767\",\n\"古殿町\": \"37.089478,140.557477\",\n\"三春町\": \"37.441103,140.492746\",\n\"小野町\": \"37.286956,140.626352\",\n\"広野町\": \"37.214475,140.994652\",\n\"楢葉町\": \"37.282632,140.99352\",\n\"富岡町\": \"37.345906,141.008881\",\n\"川内村\": \"37.337633,140.809362\",\n\"大熊町\": \"37.489767,139.92786\",\n\"双葉町\": \"36.921861,140.800626\",\n\"浪江町\": \"37.494582,141.000664\",\n\"葛尾村\": \"37.503535,140.764486\",\n\"新地町\": \"37.875842,140.919385\",\n\"飯舘村\": \"37.679137,140.735495\",\n\"茨城県\": \"36.34145,140.446735\",\n\"水戸市\": \"36.365725,140.471454\",\n\"日立市\": \"36.599176,140.651597\",\n\"土浦市\": \"36.0784598,140.2019114\",\n\"古河市\": \"36.178826,139.755733\",\n\"石岡市\": \"36.190742,140.287339\",\n\"結城市\": \"36.305164,139.877427\",\n\"龍ケ崎市\": \"35.911521,140.182275\",\n\"下妻市\": \"36.184485,139.967396\",\n\"常総市\": \"36.02356,139.993817\",\n\"常陸太田市\": \"36.538346,140.530999\",\n\"高萩市\": \"36.719161,140.716644\",\n\"北茨城市\": \"36.801906,140.751224\",\n\"笠間市\": \"36.385995,140.237559\",\n\"取手市\": \"35.911435,140.050371\",\n\"牛久市\": \"35.979347,140.149609\",\n\"つくば市\": \"36.083442,140.0765\",\n\"ひたちなか市\": \"36.396501,140.534532\",\n\"鹿嶋市\": \"35.965852,140.644965\",\n\"潮来市\": \"35.947139,140.555267\",\n\"守谷市\": \"35.951345,139.975543\",\n\"常陸大宮市\": \"36.542428,140.410934\",\n\"那珂市\": \"36.457383,140.4867\",\n\"筑西市\": \"36.305263,139.979417\",\n\"坂東市\": \"36.048333,139.888798\",\n\"稲敷市\": \"35.972418,140.303503\",\n\"かすみがうら市\": \"36.151828,140.237095\",\n\"桜川市\": \"36.327333,140.090519\",\n\"神栖市\": \"35.889899,140.664618\",\n\"行方市\": \"35.990215,140.489078\",\n\"鉾田市\": \"36.158695,140.516486\",\n\"つくばみらい市\": \"35.962957,140.037063\",\n\"小美玉市\": \"36.23935,140.352581\",\n\"茨城町\": \"36.286873,140.424684\",\n\"大洗町\": \"36.312373,140.574863\",\n\"城里町\": \"36.479211,140.376265\",\n\"東海村\": \"36.47291,140.56622\",\n\"大子町\": \"36.768093,140.355285\",\n\"美浦村\": \"36.004403,140.301845\",\n\"阿見町\": \"36.030814,140.214963\",\n\"河内町\": \"35.884749,140.24452\",\n\"八千代町\": \"36.181291,139.89132\",\n\"五霞町\": \"36.114488,139.745196\",\n\"境町\": \"36.108546,139.794981\",\n\"利根町\": \"35.857749,140.139309\",\n\"栃木県\": \"36.565689,139.883528\",\n\"宇都宮市\": \"36.55519,139.882668\",\n\"足利市\": \"36.340231,139.44977\",\n\"栃木市\": \"36.382415,139.734174\",\n\"佐野市\": \"36.314309,139.57845\",\n\"鹿沼市\": \"36.567102,139.74504\",\n\"日光市\": \"36.719907,139.698196\",\n\"小山市\": \"36.314577,139.800183\",\n\"真岡市\": \"36.440124,140.012994\",\n\"大田原市\": \"36.870767,140.015586\",\n\"矢板市\": \"36.806744,139.924181\",\n\"那須塩原市\": \"36.961703,140.04608\",\n\"さくら市\": \"36.685259,139.96646\",\n\"那須烏山市\": \"36.656851,140.151555\",\n\"下野市\": \"36.395164,139.852073\",\n\"上三川町\": \"36.439287,139.910087\",\n\"益子町\": \"36.467344,140.093153\",\n\"茂木町\": \"36.532172,140.187558\",\n\"市貝町\": \"36.54328,140.10212\",\n\"芳賀町\": \"36.548167,140.058068\",\n\"壬生町\": \"36.427091,139.803929\",\n\"野木町\": \"36.233167,139.740858\",\n\"塩谷町\": \"36.777579,139.850578\",\n\"高根沢町\": \"36.631017,139.986599\",\n\"那須町\": \"37.019753,140.120962\",\n\"那珂川町\": \"36.73624,140.172796\",\n\"群馬県\": \"36.391192,139.060947\",\n\"前橋市\": \"36.389276,139.063558\",\n\"高崎市\": \"36.321865,139.003565\",\n\"桐生市\": \"36.405168,139.330585\",\n\"伊勢崎市\": \"36.311368,139.196655\",\n\"太田市\": \"36.291624,139.375723\",\n\"沼田市\": \"36.64594,139.044078\",\n\"館林市\": \"36.244884,139.542265\",\n\"渋川市\": \"36.489484,139.000447\",\n\"藤岡市\": \"36.258509,139.074588\",\n\"富岡市\": \"36.259868,138.889968\",\n\"安中市\": \"36.326279,138.887242\",\n\"みどり市\": \"36.394835,139.281145\",\n\"榛東村\": \"36.438612,138.967125\",\n\"吉岡町\": \"36.44735,139.010393\",\n\"上野村\": \"36.083248,138.777292\",\n\"神流町\": \"36.115997,138.917027\",\n\"下仁田町\": \"36.2124,138.789119\",\n\"南牧村\": \"36.157572,138.711267\",\n\"甘楽町\": \"36.242981,138.921827\",\n\"中之条町\": \"36.589886,138.841014\",\n\"長野原町\": \"36.552331,138.637591\",\n\"嬬恋村\": \"36.516665,138.530295\",\n\"草津町\": \"36.620656,138.596147\",\n\"高山村\": \"36.620747,138.943532\",\n\"東吾妻町\": \"36.571332,138.825516\",\n\"片品村\": \"36.772485,139.225193\",\n\"川場村\": \"36.694658,139.106542\",\n\"昭和村\": \"36.63958,139.065742\",\n\"みなかみ町\": \"36.678991,138.999024\",\n\"玉村町\": \"36.304396,139.114888\",\n\"板倉町\": \"36.222943,139.61026\",\n\"明和町\": \"36.211326,139.534462\",\n\"千代田町\": \"36.217745,139.442498\",\n\"大泉町\": \"36.247824,139.404972\",\n\"邑楽町\": \"36.263796,139.467604\",\n\"埼玉県\": \"35.856907,139.648854\",\n\"さいたま市\": \"35.861601,139.645354\",\n\"さいたま市西区\": \"35.925294,139.579538\",\n\"さいたま市北区\": \"35.929981,139.620843\",\n\"さいたま市大宮区\": \"35.906461,139.628655\",\n\"さいたま市見沼区\": \"35.935234,139.654483\",\n\"さいたま市中央区\": \"35.883894,139.626117\",\n\"さいたま市桜区\": \"35.857074,139.609225\",\n\"さいたま市浦和区\": \"35.861601,139.645354\",\n\"さいたま市南区\": \"35.84526,139.645437\",\n\"さいたま市緑区\": \"35.87131,139.683925\",\n\"さいたま市岩槻区\": \"35.949905,139.694194\",\n\"川越市\": \"35.925117,139.485837\",\n\"熊谷市\": \"36.147334,139.388618\",\n\"川口市\": \"35.807887,139.724071\",\n\"行田市\": \"36.138809,139.455751\",\n\"秩父市\": \"35.991682,139.085458\",\n\"所沢市\": \"35.799549,139.46876\",\n\"飯能市\": \"35.855761,139.327797\",\n\"加須市\": \"36.131399,139.601903\",\n\"本庄市\": \"36.243737,139.190381\",\n\"東松山市\": \"36.042126,139.400011\",\n\"春日部市\": \"35.975226,139.752478\",\n\"狭山市\": \"35.852986,139.412207\",\n\"羽生市\": \"36.17267,139.548572\",\n\"鴻巣市\": \"36.065905,139.522219\",\n\"深谷市\": \"36.197465,139.28143\",\n\"上尾市\": \"35.977443,139.593327\",\n\"草加市\": \"35.825416,139.805396\",\n\"越谷市\": \"35.891072,139.79084\",\n\"蕨市\": \"35.825633,139.679519\",\n\"戸田市\": \"35.817579,139.677825\",\n\"入間市\": \"35.835849,139.391126\",\n\"朝霞市\": \"35.797274,139.593666\",\n\"志木市\": \"35.836603,139.580305\",\n\"和光市\": \"35.781416,139.605721\",\n\"新座市\": \"35.793413,139.565252\",\n\"桶川市\": \"36.005776,139.542481\",\n\"久喜市\": \"36.062186,139.666899\",\n\"北本市\": \"36.027187,139.530164\",\n\"八潮市\": \"35.822666,139.839088\",\n\"富士見市\": \"35.856572,139.549251\",\n\"三郷市\": \"35.830137,139.872391\",\n\"蓮田市\": \"35.994279,139.662291\",\n\"坂戸市\": \"35.957274,139.403014\",\n\"幸手市\": \"36.078074,139.725866\",\n\"鶴ヶ島市\": \"35.934529,139.393153\",\n\"日高市\": \"35.907781,139.339129\",\n\"吉川市\": \"35.891074,139.841419\",\n\"ふじみ野市\": \"35.879207,139.520363\",\n\"白岡市\": \"36.018997,139.676927\",\n\"伊奈町\": \"35.999998,139.623963\",\n\"三芳町\": \"35.828241,139.526587\",\n\"毛呂山町\": \"35.941636,139.316078\",\n\"越生町\": \"35.964522,139.294246\",\n\"滑川町\": \"36.065983,139.360874\",\n\"嵐山町\": \"36.056596,139.320323\",\n\"小川町\": \"36.05665,139.2618\",\n\"川島町\": \"35.992494,139.484352\",\n\"吉見町\": \"36.039878,139.453755\",\n\"鳩山町\": \"35.981576,139.33402\",\n\"ときがわ町\": \"36.008656,139.296827\",\n\"横瀬町\": \"35.987322,139.100151\",\n\"皆野町\": \"36.070812,139.098815\",\n\"長瀞町\": \"36.114833,139.109894\",\n\"小鹿野町\": \"36.017095,139.008604\",\n\"東秩父村\": \"36.05812,139.194695\",\n\"美里町\": \"36.177076,139.181301\",\n\"神川町\": \"36.213876,139.101836\",\n\"上里町\": \"36.251818,139.144776\",\n\"寄居町\": \"36.118251,139.192997\",\n\"宮代町\": \"36.022723,139.722489\",\n\"杉戸町\": \"36.025636,139.7367\",\n\"松伏町\": \"35.925762,139.81528\",\n\"千葉県\": \"35.604588,140.123184\",\n\"千葉市\": \"35.607224,140.106407\",\n\"千葉市中央区\": \"35.608976,140.124656\",\n\"千葉市花見川区\": \"35.662854,140.069047\",\n\"千葉市稲毛区\": \"35.636275,140.10721\",\n\"千葉市若葉区\": \"35.634113,140.155514\",\n\"千葉市緑区\": \"35.560334,140.176082\",\n\"千葉市美浜区\": \"35.640385,140.063132\",\n\"銚子市\": \"35.734645,140.826694\",\n\"市川市\": \"35.713597,139.927903\",\n\"船橋市\": \"35.6946,139.982526\",\n\"館山市\": \"34.996611,139.869884\",\n\"木更津市\": \"35.381208,139.924905\",\n\"松戸市\": \"35.78767,139.903168\",\n\"野田市\": \"35.955036,139.874829\",\n\"茂原市\": \"35.428361,140.287899\",\n\"成田市\": \"35.776627,140.318322\",\n\"佐倉市\": \"35.723825,140.223861\",\n\"東金市\": \"35.559957,140.366105\",\n\"旭市\": \"35.720391,140.646596\",\n\"習志野市\": \"35.68164,140.027341\",\n\"柏市\": \"35.868162,139.976352\",\n\"勝浦市\": \"35.152453,140.320979\",\n\"市原市\": \"35.49796,140.115548\",\n\"流山市\": \"35.85619,139.902471\",\n\"八千代市\": \"35.72246,140.099819\",\n\"我孫子市\": \"35.864136,140.028347\",\n\"鴨川市\": \"35.114042,140.09886\",\n\"鎌ケ谷市\": \"35.776841,140.000715\",\n\"君津市\": \"35.330647,139.902457\",\n\"富津市\": \"35.304122,139.857018\",\n\"浦安市\": \"35.653633,139.901561\",\n\"四街道市\": \"35.66994,140.168177\",\n\"袖ケ浦市\": \"35.42991,139.954591\",\n\"八街市\": \"35.665833,140.318188\",\n\"印西市\": \"35.832337,140.145782\",\n\"白井市\": \"35.791592,140.056429\",\n\"富里市\": \"35.726744,140.34296\",\n\"南房総市\": \"35.043187,139.840136\",\n\"匝瑳市\": \"35.707864,140.564328\",\n\"香取市\": \"35.897699,140.499245\",\n\"山武市\": \"35.602813,140.413514\",\n\"いすみ市\": \"35.253993,140.385278\",\n\"大網白里市\": \"35.52171,140.321001\",\n\"酒々井町\": \"35.724882,140.269552\",\n\"栄町\": \"35.840866,140.243966\",\n\"神崎町\": \"35.901558,140.405198\",\n\"多古町\": \"35.735553,140.467808\",\n\"東庄町\": \"35.83715,140.668786\",\n\"九十九里町\": \"35.535017,140.440402\",\n\"芝山町\": \"35.693055,140.41426\",\n\"横芝光町\": \"35.665562,140.504254\",\n\"一宮町\": \"35.372759,140.368778\",\n\"睦沢町\": \"35.3611,140.31914\",\n\"長生村\": \"35.412198,140.354084\",\n\"白子町\": \"35.454332,140.374358\",\n\"長柄町\": \"35.430775,140.228042\",\n\"長南町\": \"35.386587,140.237126\",\n\"大多喜町\": \"35.284852,140.245458\",\n\"御宿町\": \"35.19228,140.348614\",\n\"鋸南町\": \"35.111012,139.835467\",\n\"東京都\": \"35.689568,139.691717\",\n\"千代田区\": \"35.694003,139.753634\",\n\"中央区\": \"35.670766,139.772127\",\n\"港区\": \"35.658073,139.751546\",\n\"新宿区\": \"35.693984,139.703521\",\n\"文京区\": \"35.707956,139.752266\",\n\"台東区\": \"35.712623,139.780015\",\n\"墨田区\": \"35.710568,139.801707\",\n\"江東区\": \"35.673156,139.817151\",\n\"品川区\": \"35.608967,139.730189\",\n\"目黒区\": \"35.641407,139.698274\",\n\"大田区\": \"35.561389,139.716081\",\n\"世田谷区\": \"35.646211,139.653166\",\n\"渋谷区\": \"35.661993,139.703713\",\n\"中野区\": \"35.707426,139.663913\",\n\"杉並区\": \"35.699565,139.636499\",\n\"豊島区\": \"35.726126,139.716597\",\n\"北区\": \"35.752784,139.733683\",\n\"荒川区\": \"35.736178,139.78332\",\n\"板橋区\": \"35.750978,139.709296\",\n\"練馬区\": \"35.735645,139.652246\",\n\"足立区\": \"35.774922,139.804592\",\n\"葛飾区\": \"35.743427,139.847201\",\n\"江戸川区\": \"35.706653,139.868312\",\n\"八王子市\": \"35.666506,139.315888\",\n\"立川市\": \"35.713981,139.407846\",\n\"武蔵野市\": \"35.717867,139.566199\",\n\"三鷹市\": \"35.683315,139.559478\",\n\"青梅市\": \"35.788185,139.274971\",\n\"府中市\": \"35.668954,139.477652\",\n\"昭島市\": \"35.705669,139.353523\",\n\"調布市\": \"35.650652,139.540926\",\n\"町田市\": \"35.546644,139.438562\",\n\"小金井市\": \"35.699534,139.503121\",\n\"小平市\": \"35.728502,139.477483\",\n\"日野市\": \"35.671396,139.394937\",\n\"東村山市\": \"35.754638,139.468539\",\n\"国分寺市\": \"35.710948,139.462236\",\n\"国立市\": \"35.683923,139.441461\",\n\"福生市\": \"35.738692,139.326691\",\n\"狛江市\": \"35.634794,139.578701\",\n\"東大和市\": \"35.745416,139.426515\",\n\"清瀬市\": \"35.785775,139.52645\",\n\"東久留米市\": \"35.758028,139.529811\",\n\"武蔵村山市\": \"35.75483,139.387407\",\n\"多摩市\": \"35.636984,139.446295\",\n\"稲城市\": \"35.638015,139.504597\",\n\"羽村市\": \"35.76716,139.311135\",\n\"あきる野市\": \"35.729359,139.293805\",\n\"西東京市\": \"35.725754,139.538451\",\n\"瑞穂町\": \"35.772022,139.353965\",\n\"日の出町\": \"35.742162,139.257391\",\n\"檜原村\": \"35.72683,139.148902\",\n\"奥多摩町\": \"35.809626,139.096322\",\n\"大島町\": \"34.750036,139.355689\",\n\"利島村\": \"34.529296,139.282112\",\n\"新島村\": \"34.377045,139.257096\",\n\"神津島村\": \"34.205524,139.13461\",\n\"三宅村\": \"34.075996,139.479858\",\n\"御蔵島村\": \"33.89731,139.595933\",\n\"八丈町\": \"33.112671,139.788911\",\n\"青ヶ島村\": \"32.466881,139.763369\",\n\"小笠原村\": \"27.094527,142.191804\",\n\"神奈川県\": \"35.44771,139.642536\",\n\"横浜市\": \"35.444155,139.637981\",\n\"横浜市鶴見区\": \"35.508342,139.682614\",\n\"横浜市神奈川区\": \"35.477011,139.629425\",\n\"横浜市西区\": \"35.45357,139.616927\",\n\"横浜市中区\": \"35.444432,139.643231\",\n\"横浜市南区\": \"35.434423,139.627509\",\n\"横浜市保土ケ谷区\": \"35.459986,139.59604\",\n\"横浜市磯子区\": \"35.402328,139.618761\",\n\"横浜市金沢区\": \"35.337475,139.624539\",\n\"横浜市港北区\": \"35.51898,139.633035\",\n\"横浜市戸塚区\": \"35.400013,139.533482\",\n\"横浜市港南区\": \"35.400795,139.592511\",\n\"横浜市旭区\": \"35.474733,139.544794\",\n\"横浜市緑区\": \"35.512395,139.538072\",\n\"横浜市瀬谷区\": \"35.466345,139.499021\",\n\"横浜市栄区\": \"35.364331,139.5541\",\n\"横浜市泉区\": \"35.417851,139.488689\",\n\"横浜市青葉区\": \"35.552807,139.537238\",\n\"横浜市都筑区\": \"35.544781,139.570624\",\n\"川崎市\": \"35.530811,139.703029\",\n\"川崎市川崎区\": \"35.529394,139.703279\",\n\"川崎市幸区\": \"35.544337,139.687585\",\n\"川崎市中原区\": \"35.576221,139.655753\",\n\"川崎市高津区\": \"35.599412,139.608035\",\n\"川崎市多摩区\": \"35.61963,139.56201\",\n\"川崎市宮前区\": \"35.58919,139.578649\",\n\"川崎市麻生区\": \"35.603772,139.505877\",\n\"相模原市\": \"35.571407,139.37322\",\n\"相模原市緑区\": \"35.595639,139.33759\",\n\"相模原市中央区\": \"35.571384,139.373246\",\n\"相模原市南区\": \"35.530297,139.430195\",\n\"横須賀市\": \"35.281479,139.672117\",\n\"平塚市\": \"35.335607,139.349559\",\n\"鎌倉市\": \"35.319225,139.546795\",\n\"藤沢市\": \"35.339139,139.491383\",\n\"小田原市\": \"35.264669,139.152275\",\n\"茅ヶ崎市\": \"35.333831,139.404637\",\n\"逗子市\": \"35.295589,139.580236\",\n\"三浦市\": \"35.144159,139.620623\",\n\"秦野市\": \"35.374766,139.220154\",\n\"厚木市\": \"35.443095,139.36253\",\n\"大和市\": \"35.487478,139.458022\",\n\"伊勢原市\": \"35.402876,139.314951\",\n\"海老名市\": \"35.446429,139.390751\",\n\"座間市\": \"35.488563,139.407609\",\n\"南足柄市\": \"35.320547,139.099861\",\n\"綾瀬市\": \"35.437097,139.426831\",\n\"葉山町\": \"35.272008,139.586346\",\n\"寒川町\": \"35.372964,139.384278\",\n\"大磯町\": \"35.306917,139.311286\",\n\"二宮町\": \"35.299555,139.255347\",\n\"中井町\": \"35.330716,139.218877\",\n\"大井町\": \"35.326465,139.156049\",\n\"松田町\": \"35.348323,139.139494\",\n\"山北町\": \"35.360596,139.083861\",\n\"開成町\": \"35.336435,139.123219\",\n\"箱根町\": \"35.232394,139.106837\",\n\"真鶴町\": \"35.158348,139.137283\",\n\"湯河原町\": \"35.147874,139.108342\",\n\"愛川町\": \"35.528918,139.321561\",\n\"清川村\": \"35.482644,139.276064\",\n\"新潟県\": \"37.902238,139.023531\",\n\"新潟市\": \"37.916098,139.036363\",\n\"新潟市北区\": \"37.916243,139.218588\",\n\"新潟市東区\": \"37.924871,139.092591\",\n\"新潟市中央区\": \"37.922505,139.043278\",\n\"新潟市江南区\": \"37.867646,139.093983\",\n\"新潟市秋葉区\": \"37.788506,139.114632\",\n\"新潟市南区\": \"37.765785,139.019127\",\n\"新潟市西区\": \"37.874204,138.972006\",\n\"新潟市西蒲区\": \"37.760464,138.889284\",\n\"長岡市\": \"37.446452,138.851105\",\n\"三条市\": \"37.636351,138.961577\",\n\"柏崎市\": \"37.37193,138.558738\",\n\"新発田市\": \"37.947924,139.327149\",\n\"小千谷市\": \"37.315274,138.794996\",\n\"加茂市\": \"37.666321,139.040179\",\n\"十日町市\": \"37.12749,138.75559\",\n\"見附市\": \"37.531418,138.912669\",\n\"村上市\": \"38.224045,139.479992\",\n\"燕市\": \"37.673249,138.881898\",\n\"糸魚川市\": \"37.038977,137.862707\",\n\"妙高市\": \"37.026018,138.254197\",\n\"五泉市\": \"37.744566,139.182467\",\n\"上越市\": \"37.147919,138.236138\",\n\"阿賀野市\": \"37.834361,139.225877\",\n\"佐渡市\": \"38.018177,138.368259\",\n\"魚沼市\": \"37.23012,138.961511\",\n\"南魚沼市\": \"37.065527,138.876025\",\n\"胎内市\": \"38.05973,139.410344\",\n\"聖籠町\": \"37.974513,139.274477\",\n\"弥彦村\": \"37.691034,138.855143\",\n\"田上町\": \"37.698688,139.057892\",\n\"阿賀町\": \"37.675635,139.458696\",\n\"出雲崎町\": \"37.530717,138.709385\",\n\"湯沢町\": \"36.933985,138.817451\",\n\"津南町\": \"37.014252,138.652575\",\n\"刈羽村\": \"37.422119,138.622508\",\n\"関川村\": \"38.089397,139.564995\",\n\"粟島浦村\": \"38.468237,139.254435\",\n\"富山県\": \"36.69519,137.211341\",\n\"富山市\": \"36.695801,137.213618\",\n\"高岡市\": \"36.754151,137.025997\",\n\"魚津市\": \"36.827376,137.409012\",\n\"氷見市\": \"36.855974,136.972874\",\n\"滑川市\": \"36.764436,137.341216\",\n\"黒部市\": \"36.871446,137.44806\",\n\"砺波市\": \"36.647497,136.962091\",\n\"小矢部市\": \"36.675436,136.868655\",\n\"南砺市\": \"36.587893,136.919292\",\n\"射水市\": \"36.730463,137.075475\",\n\"舟橋村\": \"36.703553,137.307387\",\n\"上市町\": \"36.698389,137.362577\",\n\"立山町\": \"36.663335,137.313638\",\n\"入善町\": \"36.933557,137.502191\",\n\"朝日町\": \"36.946309,137.559958\",\n\"石川県\": \"36.594652,136.625725\",\n\"金沢市\": \"36.560944,136.656763\",\n\"七尾市\": \"37.04314,136.967326\",\n\"小松市\": \"36.408595,136.445646\",\n\"輪島市\": \"37.390542,136.899148\",\n\"珠洲市\": \"37.436408,137.260336\",\n\"加賀市\": \"36.302802,136.314941\",\n\"羽咋市\": \"36.893682,136.77899\",\n\"かほく市\": \"36.719954,136.706615\",\n\"白山市\": \"36.514421,136.565522\",\n\"能美市\": \"36.446902,136.554183\",\n\"野々市市\": \"36.5199,136.609399\",\n\"川北町\": \"36.468843,136.54197\",\n\"津幡町\": \"36.66871,136.728336\",\n\"内灘町\": \"36.65346,136.645039\",\n\"志賀町\": \"37.006278,136.778068\",\n\"宝達志水町\": \"36.862742,136.797629\",\n\"中能登町\": \"36.988894,136.901529\",\n\"穴水町\": \"37.231005,136.912432\",\n\"能登町\": \"37.306532,137.150074\",\n\"福井県\": \"36.065244,136.221791\",\n\"福井市\": \"36.064189,136.219374\",\n\"敦賀市\": \"35.645325,136.055546\",\n\"小浜市\": \"35.495587,135.746658\",\n\"大野市\": \"35.98051,136.487599\",\n\"勝山市\": \"36.060864,136.500653\",\n\"鯖江市\": \"35.956591,136.184493\",\n\"あわら市\": \"36.211465,136.229074\",\n\"越前市\": \"35.903404,136.169024\",\n\"坂井市\": \"36.166816,136.231704\",\n\"永平寺町\": \"36.092248,136.298785\",\n\"池田町\": \"35.890325,136.344173\",\n\"南越前町\": \"35.83508,136.194496\",\n\"越前町\": \"35.974166,136.129775\",\n\"美浜町\": \"35.600607,135.940615\",\n\"高浜町\": \"35.487904,135.545969\",\n\"おおい町\": \"35.481143,135.617862\",\n\"若狭町\": \"35.548946,135.908201\",\n\"山梨県\": \"35.663935,138.568379\",\n\"甲府市\": \"35.662025,138.56825\",\n\"富士吉田市\": \"35.487407,138.808029\",\n\"都留市\": \"35.550791,138.905767\",\n\"山梨市\": \"35.693341,138.687344\",\n\"大月市\": \"35.610562,138.940011\",\n\"韮崎市\": \"35.708816,138.446307\",\n\"南アルプス市\": \"35.608358,138.465057\",\n\"北杜市\": \"35.77607,138.4235\",\n\"甲斐市\": \"35.660712,138.515829\",\n\"笛吹市\": \"35.647187,138.639847\",\n\"上野原市\": \"35.631286,139.109437\",\n\"甲州市\": \"35.704286,138.729424\",\n\"中央市\": \"35.599637,138.517275\",\n\"市川三郷町\": \"35.565377,138.502211\",\n\"早川町\": \"35.41263,138.363155\",\n\"身延町\": \"35.467819,138.44255\",\n\"南部町\": \"35.242282,138.486692\",\n\"富士川町\": \"35.561197,138.461308\",\n\"昭和町\": \"35.627967,138.535106\",\n\"道志村\": \"35.528129,139.033484\",\n\"西桂町\": \"35.524154,138.846969\",\n\"忍野村\": \"35.460106,138.847775\",\n\"山中湖村\": \"35.410641,138.860941\",\n\"鳴沢村\": \"35.481378,138.706623\",\n\"富士河口湖町\": \"35.501127,138.76506\",\n\"小菅村\": \"35.760293,138.940286\",\n\"丹波山村\": \"35.789735,138.922259\",\n\"長野県\": \"36.65131,138.180991\",\n\"長野市\": \"36.648533,138.194295\",\n\"松本市\": \"36.237907,137.971994\",\n\"上田市\": \"36.40195,138.249074\",\n\"岡谷市\": \"36.066931,138.049384\",\n\"飯田市\": \"35.514717,137.821838\",\n\"諏訪市\": \"36.039158,138.114017\",\n\"須坂市\": \"36.651175,138.306783\",\n\"小諸市\": \"36.326852,138.426036\",\n\"伊那市\": \"35.82743,137.953982\",\n\"駒ヶ根市\": \"35.72883,137.933932\",\n\"中野市\": \"36.742027,138.369497\",\n\"大町市\": \"36.502925,137.850944\",\n\"飯山市\": \"36.851652,138.365522\",\n\"茅野市\": \"35.995498,138.158765\",\n\"塩尻市\": \"36.11495,137.953612\",\n\"佐久市\": \"36.248779,138.477005\",\n\"千曲市\": \"36.533821,138.119947\",\n\"東御市\": \"36.359401,138.33043\",\n\"安曇野市\": \"36.303933,137.905755\",\n\"小海町\": \"36.095041,138.483639\",\n\"川上村\": \"35.975423,138.578285\",\n\"南牧村\": \"36.020888,138.492151\",\n\"南相木村\": \"36.036101,138.546911\",\n\"北相木村\": \"36.059191,138.5512\",\n\"佐久穂町\": \"36.160984,138.483396\",\n\"軽井沢町\": \"36.348382,138.597046\",\n\"御代田町\": \"36.321244,138.508778\",\n\"立科町\": \"36.27205,138.316019\",\n\"青木村\": \"36.369979,138.128614\",\n\"長和町\": \"36.256745,138.268635\",\n\"下諏訪町\": \"36.069446,138.080155\",\n\"富士見町\": \"35.914593,138.240762\",\n\"原村\": \"35.96435,138.217418\",\n\"辰野町\": \"35.982412,137.987586\",\n\"箕輪町\": \"35.915003,137.98195\",\n\"飯島町\": \"35.676614,137.920352\",\n\"南箕輪村\": \"35.872903,137.97502\",\n\"中川村\": \"35.634536,137.945963\",\n\"宮田村\": \"35.76891,137.94429\",\n\"松川町\": \"35.597236,137.909716\",\n\"高森町\": \"35.551491,137.87847\",\n\"阿南町\": \"35.323629,137.81618\",\n\"阿智村\": \"35.443835,137.747404\",\n\"平谷村\": \"35.323352,137.630186\",\n\"根羽村\": \"35.253102,137.581202\",\n\"下條村\": \"35.397341,137.785959\",\n\"売木村\": \"35.27116,137.711107\",\n\"天龍村\": \"35.276357,137.854289\",\n\"泰阜村\": \"35.377306,137.845837\",\n\"喬木村\": \"35.513829,137.87386\",\n\"豊丘村\": \"35.551436,137.895774\",\n\"大鹿村\": \"35.578047,138.034597\",\n\"上松町\": \"35.784012,137.694146\",\n\"南木曽町\": \"35.603644,137.608913\",\n\"木祖村\": \"35.936356,137.783159\",\n\"王滝村\": \"35.809339,137.551133\",\n\"大桑村\": \"35.682858,137.664959\",\n\"木曽町\": \"35.842061,137.691334\",\n\"麻績村\": \"36.456161,138.045175\",\n\"生坂村\": \"36.425242,137.927571\",\n\"山形村\": \"36.168057,137.878935\",\n\"朝日村\": \"36.123586,137.86623\",\n\"筑北村\": \"36.402762,138.011764\",\n\"池田町\": \"36.421271,137.874638\",\n\"松川村\": \"36.424113,137.85455\",\n\"白馬村\": \"36.698266,137.862105\",\n\"小谷村\": \"36.779064,137.908322\",\n\"坂城町\": \"36.461831,138.180134\",\n\"小布施町\": \"36.697725,138.312171\",\n\"高山村\": \"36.679784,138.363166\",\n\"山ノ内町\": \"36.744611,138.412604\",\n\"木島平村\": \"36.858486,138.406712\",\n\"野沢温泉村\": \"36.922812,138.440568\",\n\"信濃町\": \"36.80632,138.207041\",\n\"小川村\": \"36.617001,137.974541\",\n\"飯綱町\": \"36.754938,138.235622\",\n\"栄村\": \"36.987503,138.577416\",\n\"岐阜県\": \"35.391199,136.722168\",\n\"岐阜市\": \"35.423362,136.760801\",\n\"大垣市\": \"35.359367,136.612847\",\n\"高山市\": \"36.145926,137.252289\",\n\"多治見市\": \"35.332744,137.132074\",\n\"関市\": \"35.495774,136.917895\",\n\"中津川市\": \"35.487545,137.50062\",\n\"美濃市\": \"35.544739,136.907451\",\n\"瑞浪市\": \"35.361801,137.254478\",\n\"羽島市\": \"35.319956,136.703311\",\n\"恵那市\": \"35.449264,137.412858\",\n\"美濃加茂市\": \"35.440701,137.016386\",\n\"土岐市\": \"35.352494,137.183291\",\n\"各務原市\": \"35.39881,136.848542\",\n\"可児市\": \"35.425953,137.061022\",\n\"山県市\": \"35.506045,136.781296\",\n\"瑞穂市\": \"35.391837,136.690895\",\n\"飛騨市\": \"36.238191,137.186128\",\n\"本巣市\": \"35.483046,136.678798\",\n\"郡上市\": \"35.748608,136.964382\",\n\"下呂市\": \"35.805887,137.244186\",\n\"海津市\": \"35.220578,136.63657\",\n\"岐南町\": \"35.389616,136.782771\",\n\"笠松町\": \"35.367201,136.763247\",\n\"養老町\": \"35.308288,136.561438\",\n\"垂井町\": \"35.370225,136.527024\",\n\"関ケ原町\": \"35.361531,136.469587\",\n\"神戸町\": \"35.417471,136.608625\",\n\"輪之内町\": \"35.285043,136.637457\",\n\"安八町\": \"35.335398,136.665425\",\n\"揖斐川町\": \"35.486905,136.568044\",\n\"大野町\": \"35.470658,136.627621\",\n\"池田町\": \"35.442245,136.573017\",\n\"北方町\": \"35.435676,136.6844\",\n\"坂祝町\": \"35.426728,136.985333\",\n\"富加町\": \"35.484777,136.979612\",\n\"川辺町\": \"35.486531,137.070574\",\n\"七宗町\": \"35.543748,137.119902\",\n\"八百津町\": \"35.476007,137.141652\",\n\"白川町\": \"35.582106,137.188365\",\n\"東白川村\": \"35.642519,137.323795\",\n\"御嵩町\": \"35.4344,137.130709\",\n\"白川村\": \"36.27093,136.89855\",\n\"静岡県\": \"34.976906,138.383023\",\n\"静岡市\": \"34.975045,138.383717\",\n\"静岡市葵区\": \"34.975045,138.383717\",\n\"静岡市駿河区\": \"34.960849,138.404283\",\n\"静岡市清水区\": \"35.015654,138.48968\",\n\"浜松市\": \"34.710837,137.726759\",\n\"浜松市中区\": \"34.710837,137.726759\",\n\"浜松市東区\": \"34.741325,137.791772\",\n\"浜松市西区\": \"34.69271,137.645317\",\n\"浜松市南区\": \"34.667333,137.7523\",\n\"浜松市北区\": \"34.806193,137.651023\",\n\"浜松市浜北区\": \"34.791628,137.783281\",\n\"浜松市天竜区\": \"34.872643,137.816283\",\n\"沼津市\": \"35.095623,138.863475\",\n\"熱海市\": \"35.096073,139.071651\",\n\"三島市\": \"35.118483,138.918636\",\n\"富士宮市\": \"35.222159,138.621329\",\n\"伊東市\": \"34.965756,139.10193\",\n\"島田市\": \"34.836308,138.176046\",\n\"富士市\": \"35.161362,138.676352\",\n\"磐田市\": \"34.717897,137.851496\",\n\"焼津市\": \"34.867056,138.323169\",\n\"掛川市\": \"34.768675,137.998516\",\n\"藤枝市\": \"34.867444,138.257761\",\n\"御殿場市\": \"35.308709,138.934881\",\n\"袋井市\": \"34.750229,137.924849\",\n\"下田市\": \"34.679497,138.945365\",\n\"裾野市\": \"35.173976,138.906748\",\n\"湖西市\": \"34.718551,137.531723\",\n\"伊豆市\": \"34.976555,138.946831\",\n\"御前崎市\": \"34.638053,138.128057\",\n\"菊川市\": \"34.757646,138.084198\",\n\"伊豆の国市\": \"35.027771,138.928971\",\n\"牧之原市\": \"34.739959,138.224707\",\n\"東伊豆町\": \"34.772769,139.041247\",\n\"河津町\": \"34.757074,138.987474\",\n\"南伊豆町\": \"34.651089,138.858533\",\n\"松崎町\": \"34.752933,138.778737\",\n\"西伊豆町\": \"34.771682,138.775264\",\n\"函南町\": \"35.089055,138.953205\",\n\"清水町\": \"35.099095,138.902861\",\n\"長泉町\": \"35.137786,138.897083\",\n\"小山町\": \"35.360093,138.987345\",\n\"吉田町\": \"34.7709,138.252012\",\n\"川根本町\": \"35.046919,138.081691\",\n\"森町\": \"34.835579,137.92718\",\n\"愛知県\": \"35.180198,136.906739\",\n\"名古屋市\": \"35.181754,136.906489\",\n\"名古屋市千種区\": \"35.166453,136.946403\",\n\"名古屋市東区\": \"35.179311,136.926071\",\n\"名古屋市北区\": \"35.194141,136.911683\",\n\"名古屋市西区\": \"35.189309,136.890147\",\n\"名古屋市中村区\": \"35.168699,136.872965\",\n\"名古屋市中区\": \"35.168673,136.910323\",\n\"名古屋市昭和区\": \"35.150204,136.934044\",\n\"名古屋市瑞穂区\": \"35.131651,136.934933\",\n\"名古屋市熱田区\": \"35.128537,136.91023\",\n\"名古屋市中川区\": \"35.141591,136.855079\",\n\"名古屋市港区\": \"35.107763,136.885605\",\n\"名古屋市南区\": \"35.09501,136.931299\",\n\"名古屋市守山区\": \"35.203282,136.976538\",\n\"名古屋市緑区\": \"35.070796,136.95232\",\n\"名古屋市名東区\": \"35.175897,137.010147\",\n\"名古屋市天白区\": \"35.12232,136.975846\",\n\"豊橋市\": \"34.769207,137.39151\",\n\"岡崎市\": \"34.954845,137.173023\",\n\"一宮市\": \"35.304126,136.802465\",\n\"瀬戸市\": \"35.223449,137.084082\",\n\"半田市\": \"34.892401,136.937827\",\n\"春日井市\": \"35.247496,136.972176\",\n\"豊川市\": \"34.826811,137.375869\",\n\"津島市\": \"35.177112,136.741311\",\n\"碧南市\": \"34.884848,136.993655\",\n\"刈谷市\": \"34.988946,137.002179\",\n\"豊田市\": \"35.083386,137.156412\",\n\"安城市\": \"34.957841,137.079616\",\n\"西尾市\": \"34.862491,137.062483\",\n\"蒲郡市\": \"34.826389,137.21966\",\n\"犬山市\": \"35.378621,136.944144\",\n\"常滑市\": \"34.886567,136.832422\",\n\"江南市\": \"35.332125,136.870875\",\n\"小牧市\": \"35.290324,136.910908\",\n\"稲沢市\": \"35.248049,136.780304\",\n\"新城市\": \"34.899251,137.498495\",\n\"東海市\": \"35.022995,136.902382\",\n\"大府市\": \"35.012247,136.963182\",\n\"知多市\": \"34.996635,136.864583\",\n\"知立市\": \"35.001279,137.050646\",\n\"尾張旭市\": \"35.216504,137.035282\",\n\"高浜市\": \"34.927593,136.987626\",\n\"岩倉市\": \"35.279936,136.871433\",\n\"豊明市\": \"35.053774,137.012789\",\n\"日進市\": \"35.131987,137.039423\",\n\"田原市\": \"34.669011,137.263529\",\n\"愛西市\": \"35.15301,136.728508\",\n\"清須市\": \"35.199833,136.852883\",\n\"北名古屋市\": \"35.245579,136.865963\",\n\"弥富市\": \"35.110003,136.724704\",\n\"みよし市\": \"35.089771,137.074503\",\n\"あま市\": \"35.200526,136.783584\",\n\"長久手市\": \"35.184092,137.048642\",\n\"東郷町\": \"35.096797,137.052588\",\n\"豊山町\": \"35.250801,136.912125\",\n\"大口町\": \"35.332429,136.907789\",\n\"扶桑町\": \"35.359235,136.913102\",\n\"大治町\": \"35.175419,136.820692\",\n\"蟹江町\": \"35.132397,136.786854\",\n\"飛島村\": \"35.0788,136.7913\",\n\"阿久比町\": \"34.932591,136.915607\",\n\"東浦町\": \"34.977113,136.965654\",\n\"南知多町\": \"34.715197,136.929833\",\n\"美浜町\": \"34.778939,136.908195\",\n\"武豊町\": \"34.851264,136.914859\",\n\"幸田町\": \"34.864577,137.165666\",\n\"設楽町\": \"35.097237,137.571438\",\n\"東栄町\": \"35.07693,137.697833\",\n\"豊根村\": \"35.146451,137.719719\",\n\"三重県\": \"34.730268,136.508594\",\n\"津市\": \"34.718576,136.505511\",\n\"四日市市\": \"34.965051,136.624385\",\n\"伊勢市\": \"34.487442,136.709333\",\n\"松阪市\": \"34.578009,136.527487\",\n\"桑名市\": \"35.062152,136.683822\",\n\"鈴鹿市\": \"34.882084,136.584084\",\n\"名張市\": \"34.627548,136.108334\",\n\"尾鷲市\": \"34.070807,136.191029\",\n\"亀山市\": \"34.855752,136.451598\",\n\"鳥羽市\": \"34.481279,136.843517\",\n\"熊野市\": \"33.888548,136.100206\",\n\"いなべ市\": \"35.115701,136.561498\",\n\"志摩市\": \"34.328144,136.829696\",\n\"伊賀市\": \"34.76859,136.12991\",\n\"木曽岬町\": \"35.075819,136.731067\",\n\"東員町\": \"35.074176,136.583636\",\n\"菰野町\": \"35.020164,136.507683\",\n\"朝日町\": \"35.034126,136.66438\",\n\"川越町\": \"35.026794,136.670907\",\n\"多気町\": \"34.496075,136.546154\",\n\"明和町\": \"34.547709,136.623479\",\n\"大台町\": \"34.393454,136.408588\",\n\"玉城町\": \"34.490133,136.630924\",\n\"度会町\": \"34.43959,136.621358\",\n\"大紀町\": \"34.358033,136.415947\",\n\"南伊勢町\": \"34.351901,136.703978\",\n\"紀北町\": \"34.109218,136.231384\",\n\"御浜町\": \"33.814305,136.048766\",\n\"紀宝町\": \"33.733839,136.009609\",\n\"滋賀県\": \"35.004394,135.868292\",\n\"大津市\": \"35.017754,135.85471\",\n\"彦根市\": \"35.274344,136.25975\",\n\"長浜市\": \"35.380595,136.278249\",\n\"近江八幡市\": \"35.128327,136.0981\",\n\"草津市\": \"35.01295,135.959949\",\n\"守山市\": \"35.058861,135.994445\",\n\"栗東市\": \"35.021561,135.998112\",\n\"甲賀市\": \"34.966069,136.167153\",\n\"野洲市\": \"35.067417,136.025859\",\n\"湖南市\": \"35.004091,136.084853\",\n\"高島市\": \"35.352996,136.036385\",\n\"東近江市\": \"35.112691,136.207839\",\n\"米原市\": \"35.31534,136.283996\",\n\"日野町\": \"35.018029,136.246187\",\n\"竜王町\": \"35.060725,136.124515\",\n\"愛荘町\": \"35.168797,136.212339\",\n\"豊郷町\": \"35.200407,136.229949\",\n\"甲良町\": \"35.204241,136.261391\",\n\"多賀町\": \"35.221989,136.292276\",\n\"京都府\": \"35.021279,135.755635\",\n\"京都市\": \"35.011641,135.76819\",\n\"京都市北区\": \"35.040972,135.754247\",\n\"京都市上京区\": \"35.029592,135.756639\",\n\"京都市左京区\": \"35.048569,135.778548\",\n\"京都市中京区\": \"35.01003,135.751414\",\n\"京都市東山区\": \"34.996976,135.776384\",\n\"京都市下京区\": \"34.987588,135.755498\",\n\"京都市南区\": \"34.976616,135.746526\",\n\"京都市右京区\": \"35.010191,135.716095\",\n\"京都市伏見区\": \"34.936033,135.761421\",\n\"京都市山科区\": \"34.972369,135.813713\",\n\"京都市西京区\": \"34.985004,135.693308\",\n\"福知山市\": \"35.296658,135.12638\",\n\"舞鶴市\": \"35.474724,135.38613\",\n\"綾部市\": \"35.298966,135.258729\",\n\"宇治市\": \"34.884432,135.799771\",\n\"宮津市\": \"35.535437,135.195508\",\n\"亀岡市\": \"35.013472,135.573734\",\n\"城陽市\": \"34.853047,135.779912\",\n\"向日市\": \"34.948674,135.698279\",\n\"長岡京市\": \"34.926704,135.695418\",\n\"八幡市\": \"34.875544,135.70764\",\n\"京田辺市\": \"34.814467,135.76772\",\n\"京丹後市\": \"35.624176,135.061044\",\n\"南丹市\": \"35.107423,135.470038\",\n\"木津川市\": \"34.736836,135.820827\",\n\"大山崎町\": \"34.90279,135.688502\",\n\"久御山町\": \"34.881349,135.73286\",\n\"井手町\": \"34.798608,135.803244\",\n\"宇治田原町\": \"34.852686,135.856849\",\n\"笠置町\": \"34.760419,135.939483\",\n\"和束町\": \"34.795693,135.904958\",\n\"精華町\": \"34.760805,135.785913\",\n\"南山城村\": \"34.772725,135.993756\",\n\"京丹波町\": \"35.164345,135.423188\",\n\"伊根町\": \"35.674891,135.272634\",\n\"与謝野町\": \"35.565294,135.152872\",\n\"大阪府\": \"34.686394,135.519994\",\n\"大阪市\": \"34.693837,135.502135\",\n\"大阪市都島区\": \"34.701337,135.528105\",\n\"大阪市福島区\": \"34.691448,135.472637\",\n\"大阪市此花区\": \"34.683032,135.452222\",\n\"大阪市西区\": \"34.676283,135.486025\",\n\"大阪市港区\": \"34.66384,135.460722\",\n\"大阪市大正区\": \"34.650231,135.472722\",\n\"大阪市天王寺区\": \"34.657814,135.519523\",\n\"大阪市浪速区\": \"34.659464,135.499291\",\n\"大阪市西淀川区\": \"34.711334,135.456083\",\n\"大阪市東淀川区\": \"34.741221,135.529437\",\n\"大阪市東成区\": \"34.670035,135.541187\",\n\"大阪市生野区\": \"34.653537,135.534577\",\n\"大阪市旭区\": \"34.721307,135.544269\",\n\"大阪市城東区\": \"34.703199,135.544812\",\n\"大阪市阿倍野区\": \"34.638705,135.518579\",\n\"大阪市住吉区\": \"34.603672,135.500636\",\n\"大阪市東住吉区\": \"34.622012,135.5268\",\n\"大阪市西成区\": \"34.634901,135.494311\",\n\"大阪市淀川区\": \"34.721024,135.486712\",\n\"大阪市鶴見区\": \"34.704393,135.574211\",\n\"大阪市住之江区\": \"34.609513,135.48275\",\n\"大阪市平野区\": \"34.621231,135.546309\",\n\"大阪市北区\": \"34.705475,135.510078\",\n\"大阪市中央区\": \"34.681172,135.509801\",\n\"堺市\": \"34.573684,135.482861\",\n\"堺市堺区\": \"34.573684,135.482861\",\n\"堺市中区\": \"34.528229,135.498854\",\n\"堺市東区\": \"34.538384,135.5364\",\n\"堺市西区\": \"34.534695,135.463896\",\n\"堺市南区\": \"34.486523,135.490506\",\n\"堺市北区\": \"34.565508,135.517114\",\n\"堺市美原区\": \"34.538716,135.560744\",\n\"岸和田市\": \"34.460361,135.371068\",\n\"豊中市\": \"34.781243,135.469913\",\n\"池田市\": \"34.821599,135.428472\",\n\"吹田市\": \"34.759413,135.516826\",\n\"泉大津市\": \"34.504329,135.410342\",\n\"高槻市\": \"34.846017,135.617288\",\n\"貝塚市\": \"34.437642,135.358514\",\n\"守口市\": \"34.735811,135.561724\",\n\"枚方市\": \"34.814493,135.650841\",\n\"茨木市\": \"34.816352,135.568515\",\n\"八尾市\": \"34.626847,135.600877\",\n\"泉佐野市\": \"34.406783,135.327352\",\n\"富田林市\": \"34.499194,135.597158\",\n\"寝屋川市\": \"34.766137,135.628066\",\n\"河内長野市\": \"34.458186,135.563937\",\n\"松原市\": \"34.577906,135.551744\",\n\"大東市\": \"34.712004,135.623373\",\n\"和泉市\": \"34.483554,135.423618\",\n\"箕面市\": \"34.82696,135.470468\",\n\"柏原市\": \"34.579269,135.628654\",\n\"羽曳野市\": \"34.557882,135.606212\",\n\"門真市\": \"34.739334,135.587598\",\n\"摂津市\": \"34.777079,135.562072\",\n\"高石市\": \"34.520661,135.442338\",\n\"藤井寺市\": \"34.574574,135.597434\",\n\"東大阪市\": \"34.679472,135.600893\",\n\"泉南市\": \"34.365899,135.273494\",\n\"四條畷市\": \"34.740112,135.639482\",\n\"交野市\": \"34.787968,135.680033\",\n\"大阪狭山市\": \"34.503609,135.55555\",\n\"阪南市\": \"34.359538,135.239609\",\n\"島本町\": \"34.88393,135.662811\",\n\"豊能町\": \"34.918981,135.49402\",\n\"能勢町\": \"34.972447,135.414221\",\n\"忠岡町\": \"34.486914,135.401204\",\n\"熊取町\": \"34.401257,135.356042\",\n\"田尻町\": \"34.393729,135.291159\",\n\"岬町\": \"34.316874,135.142256\",\n\"太子町\": \"34.518581,135.647986\",\n\"河南町\": \"34.491612,135.629738\",\n\"千早赤阪村\": \"34.464531,135.6226\",\n\"兵庫県\": \"34.691304,135.182995\",\n\"神戸市\": \"34.69011,135.195466\",\n\"神戸市東灘区\": \"34.720136,135.265571\",\n\"神戸市灘区\": \"34.712362,135.239351\",\n\"神戸市兵庫区\": \"34.680528,135.165302\",\n\"神戸市長田区\": \"34.665418,135.150859\",\n\"神戸市須磨区\": \"34.658588,135.133724\",\n\"神戸市垂水区\": \"34.630643,135.056979\",\n\"神戸市北区\": \"34.727217,135.144442\",\n\"神戸市中央区\": \"34.695082,135.197799\",\n\"神戸市西区\": \"34.683164,134.981596\",\n\"姫路市\": \"34.815368,134.685485\",\n\"尼崎市\": \"34.733359,135.406392\",\n\"明石市\": \"34.643085,134.997512\",\n\"西宮市\": \"34.737829,135.341897\",\n\"洲本市\": \"34.342534,134.895611\",\n\"芦屋市\": \"34.726913,135.304289\",\n\"伊丹市\": \"34.784242,135.400808\",\n\"相生市\": \"34.803617,134.468147\",\n\"豊岡市\": \"35.544486,134.820095\",\n\"加古川市\": \"34.756755,134.841241\",\n\"赤穂市\": \"34.754898,134.390267\",\n\"西脇市\": \"34.993355,134.969344\",\n\"宝塚市\": \"34.799961,135.360367\",\n\"三木市\": \"34.796707,134.990066\",\n\"高砂市\": \"34.765904,134.79053\",\n\"川西市\": \"34.830042,135.417111\",\n\"小野市\": \"34.853173,134.931543\",\n\"三田市\": \"34.889535,135.225351\",\n\"加西市\": \"34.927858,134.841886\",\n\"篠山市\": \"35.075741,135.219237\",\n\"養父市\": \"35.40464,134.767493\",\n\"丹波市\": \"35.177144,135.035889\",\n\"南あわじ市\": \"34.294422,134.779869\",\n\"朝来市\": \"35.339676,134.85307\",\n\"淡路市\": \"34.439819,134.914238\",\n\"宍粟市\": \"35.004417,134.549466\",\n\"加東市\": \"34.917362,134.973484\",\n\"たつの市\": \"34.857918,134.545415\",\n\"猪名川町\": \"34.894981,135.376087\",\n\"多可町\": \"35.050126,134.923347\",\n\"稲美町\": \"34.748683,134.913597\",\n\"播磨町\": \"34.715215,134.868133\",\n\"市川町\": \"34.989434,134.763169\",\n\"福崎町\": \"34.950243,134.76017\",\n\"神河町\": \"35.06426,134.739392\",\n\"太子町\": \"34.833281,134.572213\",\n\"上郡町\": \"34.87358,134.356017\",\n\"佐用町\": \"35.004287,134.355901\",\n\"香美町\": \"35.632186,134.629178\",\n\"新温泉町\": \"35.623444,134.449266\",\n\"奈良県\": \"34.685231,135.832883\",\n\"奈良市\": \"34.685064,135.80483\",\n\"大和高田市\": \"34.514887,135.73645\",\n\"大和郡山市\": \"34.649345,135.782777\",\n\"天理市\": \"34.596602,135.83719\",\n\"橿原市\": \"34.509278,135.792556\",\n\"桜井市\": \"34.518694,135.843191\",\n\"五條市\": \"34.352044,135.693735\",\n\"御所市\": \"34.463366,135.740201\",\n\"生駒市\": \"34.691924,135.700422\",\n\"香芝市\": \"34.541244,135.699008\",\n\"葛城市\": \"34.489196,135.726507\",\n\"宇陀市\": \"34.528062,135.952722\",\n\"山添村\": \"34.681319,136.043894\",\n\"平群町\": \"34.629151,135.700617\",\n\"三郷町\": \"34.600126,135.695563\",\n\"斑鳩町\": \"34.608876,135.730643\",\n\"安堵町\": \"34.606571,135.756697\",\n\"川西町\": \"34.584324,135.774057\",\n\"三宅町\": \"34.573687,135.773141\",\n\"田原本町\": \"34.556661,135.795028\",\n\"曽爾村\": \"34.510647,136.124586\",\n\"御杖村\": \"34.487928,136.165998\",\n\"高取町\": \"34.449508,135.793058\",\n\"明日香村\": \"34.471228,135.820583\",\n\"上牧町\": \"34.562686,135.71659\",\n\"王寺町\": \"34.594655,135.706812\",\n\"広陵町\": \"34.542773,135.750921\",\n\"河合町\": \"34.578442,135.736527\",\n\"吉野町\": \"34.396042,135.857637\",\n\"大淀町\": \"34.390653,135.789837\",\n\"下市町\": \"34.361073,135.791977\",\n\"黒滝村\": \"34.30919,135.852222\",\n\"天川村\": \"34.241892,135.855305\",\n\"野迫川村\": \"34.166232,135.632993\",\n\"十津川村\": \"33.988503,135.792481\",\n\"下北山村\": \"34.005087,135.955244\",\n\"上北山村\": \"34.134295,136.000155\",\n\"川上村\": \"34.338246,135.954325\",\n\"東吉野村\": \"34.403488,135.968212\",\n\"和歌山県\": \"34.225994,135.16745\",\n\"和歌山市\": \"34.230411,135.17081\",\n\"海南市\": \"34.15556,135.209142\",\n\"橋本市\": \"34.314658,135.605215\",\n\"有田市\": \"34.083012,135.127762\",\n\"御坊市\": \"33.891397,135.152374\",\n\"田辺市\": \"33.728003,135.37769\",\n\"新宮市\": \"33.724121,135.992493\",\n\"紀の川市\": \"34.26966,135.362598\",\n\"岩出市\": \"34.2563,135.311187\",\n\"紀美野町\": \"34.167033,135.308106\",\n\"かつらぎ町\": \"34.296298,135.504058\",\n\"九度山町\": \"34.287244,135.56222\",\n\"高野町\": \"34.216168,135.586552\",\n\"湯浅町\": \"34.029403,135.190444\",\n\"広川町\": \"34.029993,135.173064\",\n\"有田川町\": \"34.057463,135.216198\",\n\"美浜町\": \"33.893647,135.13332\",\n\"日高町\": \"33.925643,135.140875\",\n\"由良町\": \"33.959306,135.118376\",\n\"印南町\": \"33.819617,135.222631\",\n\"みなべ町\": \"33.772413,135.321528\",\n\"日高川町\": \"33.911674,135.185982\",\n\"白浜町\": \"33.678175,135.348165\",\n\"上富田町\": \"33.69623,135.428908\",\n\"すさみ町\": \"33.550193,135.496706\",\n\"那智勝浦町\": \"33.626077,135.940916\",\n\"太地町\": \"33.594053,135.943945\",\n\"古座川町\": \"33.53192,135.814819\",\n\"北山村\": \"33.932068,135.969409\",\n\"串本町\": \"33.472536,135.781375\",\n\"鳥取県\": \"35.503704,134.238174\",\n\"鳥取市\": \"35.501037,134.235175\",\n\"米子市\": \"35.428085,133.331006\",\n\"倉吉市\": \"35.430037,133.825602\",\n\"境港市\": \"35.539627,133.231594\",\n\"岩美町\": \"35.575809,134.33197\",\n\"若桜町\": \"35.339725,134.401441\",\n\"智頭町\": \"35.26512,134.226571\",\n\"八頭町\": \"35.409048,134.250843\",\n\"三朝町\": \"35.408513,133.862489\",\n\"湯梨浜町\": \"35.489892,133.864792\",\n\"琴浦町\": \"35.495333,133.692809\",\n\"北栄町\": \"35.490029,133.758469\",\n\"日吉津村\": \"35.440279,133.38053\",\n\"大山町\": \"35.510689,133.495934\",\n\"南部町\": \"35.340343,133.326704\",\n\"伯耆町\": \"35.385257,133.407389\",\n\"日南町\": \"35.163716,133.305776\",\n\"日野町\": \"35.24083,133.44278\",\n\"江府町\": \"35.283159,133.488553\",\n\"島根県\": \"35.472212,133.05053\",\n\"松江市\": \"35.468101,133.04853\",\n\"浜田市\": \"34.899238,132.079916\",\n\"出雲市\": \"35.367035,132.754682\",\n\"益田市\": \"34.674978,131.842745\",\n\"大田市\": \"35.192209,132.499623\",\n\"安来市\": \"35.431611,133.250845\",\n\"江津市\": \"35.011395,132.220986\",\n\"雲南市\": \"35.307735,132.900317\",\n\"奥出雲町\": \"35.197465,133.002512\",\n\"飯南町\": \"35.000035,132.713874\",\n\"川本町\": \"34.995242,132.495794\",\n\"美郷町\": \"35.076696,132.591201\",\n\"邑南町\": \"34.893966,132.437803\",\n\"津和野町\": \"34.543666,131.838445\",\n\"吉賀町\": \"34.353543,131.93508\",\n\"海士町\": \"36.096535,133.096894\",\n\"西ノ島町\": \"36.093199,132.994347\",\n\"知夫村\": \"36.014181,133.039791\",\n\"隠岐の島町\": \"36.209138,133.321897\",\n\"岡山県\": \"34.661759,133.934894\",\n\"岡山市\": \"34.655093,133.919813\",\n\"岡山市北区\": \"34.655093,133.919813\",\n\"岡山市中区\": \"34.670837,133.943148\",\n\"岡山市東区\": \"34.651357,134.029498\",\n\"岡山市南区\": \"34.599768,133.919566\",\n\"倉敷市\": \"34.585041,133.772048\",\n\"津山市\": \"35.069329,134.004376\",\n\"玉野市\": \"34.491945,133.945898\",\n\"笠岡市\": \"34.507077,133.507296\",\n\"井原市\": \"34.597708,133.46377\",\n\"総社市\": \"34.672837,133.746548\",\n\"高梁市\": \"34.79138,133.616749\",\n\"新見市\": \"34.977135,133.470287\",\n\"備前市\": \"34.745089,134.18809\",\n\"瀬戸内市\": \"34.664845,134.092823\",\n\"赤磐市\": \"34.755335,134.018856\",\n\"真庭市\": \"35.075623,133.752708\",\n\"美作市\": \"35.008477,134.148725\",\n\"浅口市\": \"34.52788,133.584901\",\n\"和気町\": \"34.802887,134.157564\",\n\"早島町\": \"34.600652,133.828348\",\n\"里庄町\": \"34.513715,133.556877\",\n\"矢掛町\": \"34.627621,133.58712\",\n\"新庄村\": \"35.179449,133.567881\",\n\"鏡野町\": \"35.091825,133.933076\",\n\"勝央町\": \"35.041862,134.116115\",\n\"奈義町\": \"35.123049,134.17758\",\n\"西粟倉村\": \"35.171325,134.336397\",\n\"久米南町\": \"34.929231,133.960828\",\n\"美咲町\": \"34.997892,133.958244\",\n\"吉備中央町\": \"34.862402,133.693797\",\n\"広島県\": \"34.396271,132.459369\",\n\"広島市\": \"34.385216,132.45537\",\n\"広島市中区\": \"34.386188,132.455203\",\n\"広島市東区\": \"34.395299,132.482617\",\n\"広島市南区\": \"34.379884,132.469147\",\n\"広島市西区\": \"34.39391,132.434454\",\n\"広島市安佐南区\": \"34.451933,132.471588\",\n\"広島市安佐北区\": \"34.518259,132.507722\",\n\"広島市安芸区\": \"34.371747,132.525559\",\n\"広島市佐伯区\": \"34.364551,132.360875\",\n\"呉市\": \"34.24904,132.565945\",\n\"竹原市\": \"34.341758,132.906966\",\n\"三原市\": \"34.397419,133.078668\",\n\"尾道市\": \"34.408892,133.204994\",\n\"福山市\": \"34.485857,133.362365\",\n\"府中市\": \"34.568346,133.236401\",\n\"三次市\": \"34.805701,132.851737\",\n\"庄原市\": \"34.857809,133.016552\",\n\"大竹市\": \"34.237924,132.222309\",\n\"東広島市\": \"34.426802,132.743592\",\n\"廿日市市\": \"34.348607,132.331519\",\n\"安芸高田市\": \"34.666299,132.703954\",\n\"江田島市\": \"34.174958,132.462174\",\n\"府中町\": \"34.392467,132.50431\",\n\"海田町\": \"34.372164,132.536224\",\n\"熊野町\": \"34.33592,132.584387\",\n\"坂町\": \"34.341445,132.513783\",\n\"安芸太田町\": \"34.576747,132.227049\",\n\"北広島町\": \"34.674491,132.538219\",\n\"大崎上島町\": \"34.269573,132.915216\",\n\"世羅町\": \"34.586824,133.0565\",\n\"神石高原町\": \"34.703691,133.247841\",\n\"山口県\": \"34.185859,131.471401\",\n\"下関市\": \"33.957844,130.94134\",\n\"宇部市\": \"33.951517,131.246677\",\n\"山口市\": \"34.178332,131.473901\",\n\"萩市\": \"34.408113,131.399207\",\n\"防府市\": \"34.051817,131.562759\",\n\"下松市\": \"34.014996,131.870261\",\n\"岩国市\": \"34.166903,132.219756\",\n\"光市\": \"33.961782,131.942229\",\n\"長門市\": \"34.370973,131.18228\",\n\"柳井市\": \"33.963786,132.101661\",\n\"美祢市\": \"34.166632,131.205675\",\n\"周南市\": \"34.055296,131.806183\",\n\"山陽小野田市\": \"34.003177,131.181847\",\n\"周防大島町\": \"33.92843,132.195709\",\n\"和木町\": \"34.202233,132.220171\",\n\"上関町\": \"33.830884,132.110717\",\n\"田布施町\": \"33.954647,132.041359\",\n\"平生町\": \"33.937955,132.073302\",\n\"阿武町\": \"34.504076,131.470782\",\n\"徳島県\": \"34.065728,134.559484\",\n\"徳島市\": \"34.070172,134.554735\",\n\"鳴門市\": \"34.172078,134.609339\",\n\"小松島市\": \"34.004708,134.590593\",\n\"阿南市\": \"33.921747,134.659557\",\n\"吉野川市\": \"34.066365,134.358587\",\n\"阿波市\": \"34.102184,134.297304\",\n\"美馬市\": \"34.053336,134.169855\",\n\"三好市\": \"34.025863,133.807252\",\n\"勝浦町\": \"33.931438,134.511379\",\n\"上勝町\": \"33.888945,134.40189\",\n\"佐那河内村\": \"33.993152,134.453327\",\n\"石井町\": \"34.074725,134.440579\",\n\"神山町\": \"33.967237,134.350533\",\n\"那賀町\": \"33.857461,134.496466\",\n\"牟岐町\": \"33.668195,134.420722\",\n\"美波町\": \"33.734575,134.535515\",\n\"海陽町\": \"33.602065,134.352035\",\n\"松茂町\": \"34.133915,134.580231\",\n\"北島町\": \"34.125527,134.546928\",\n\"藍住町\": \"34.126471,134.495601\",\n\"板野町\": \"34.144246,134.462604\",\n\"上板町\": \"34.121414,134.404999\",\n\"つるぎ町\": \"34.037282,134.064032\",\n\"東みよし町\": \"34.037141,133.936709\",\n\"香川県\": \"34.34016,134.04339\",\n\"高松市\": \"34.342798,134.046668\",\n\"丸亀市\": \"34.289386,133.797636\",\n\"坂出市\": \"34.31641,133.860518\",\n\"善通寺市\": \"34.228449,133.78711\",\n\"観音寺市\": \"34.127426,133.661291\",\n\"さぬき市\": \"34.325278,134.172078\",\n\"東かがわ市\": \"34.243733,134.358834\",\n\"三豊市\": \"34.146824,133.694881\",\n\"土庄町\": \"34.485977,134.185681\",\n\"小豆島町\": \"34.479666,134.309007\",\n\"三木町\": \"34.268364,134.134493\",\n\"直島町\": \"34.460006,133.995617\",\n\"宇多津町\": \"34.310495,133.825437\",\n\"綾川町\": \"34.249502,133.923127\",\n\"琴平町\": \"34.191481,133.82333\",\n\"多度津町\": \"34.272443,133.753696\",\n\"まんのう町\": \"34.192342,133.841357\",\n\"愛媛県\": \"33.841646,132.766103\",\n\"松山市\": \"33.839201,132.765575\",\n\"今治市\": \"34.066041,132.997663\",\n\"宇和島市\": \"33.223212,132.560493\",\n\"八幡浜市\": \"33.462903,132.423333\",\n\"新居浜市\": \"33.960283,133.283276\",\n\"西条市\": \"33.919563,133.181227\",\n\"大洲市\": \"33.506291,132.544656\",\n\"伊予市\": \"33.757459,132.703831\",\n\"四国中央市\": \"33.980757,133.549278\",\n\"西予市\": \"33.363,132.511023\",\n\"東温市\": \"33.791098,132.871871\",\n\"上島町\": \"34.257522,133.20444\",\n\"久万高原町\": \"33.655644,132.901701\",\n\"松前町\": \"33.787512,132.711497\",\n\"砥部町\": \"33.749268,132.792211\",\n\"内子町\": \"33.532903,132.658074\",\n\"伊方町\": \"33.488204,132.354115\",\n\"松野町\": \"33.227189,132.710896\",\n\"鬼北町\": \"33.255796,132.684092\",\n\"愛南町\": \"32.962436,132.583745\",\n\"高知県\": \"33.559753,133.531115\",\n\"高知市\": \"33.558781,133.531337\",\n\"室戸市\": \"33.289934,134.152023\",\n\"安芸市\": \"33.502379,133.907163\",\n\"南国市\": \"33.575531,133.641465\",\n\"土佐市\": \"33.49598,133.425375\",\n\"須崎市\": \"33.400684,133.282972\",\n\"宿毛市\": \"32.938888,132.726205\",\n\"土佐清水市\": \"32.781496,132.954966\",\n\"四万十市\": \"32.991639,132.933935\",\n\"香南市\": \"33.564117,133.700516\",\n\"香美市\": \"33.603834,133.686184\",\n\"東洋町\": \"33.527962,134.280071\",\n\"奈半利町\": \"33.423614,134.021039\",\n\"田野町\": \"33.427669,134.008234\",\n\"安田町\": \"33.438445,133.981182\",\n\"北川村\": \"33.44786,134.042147\",\n\"馬路村\": \"33.555486,134.04848\",\n\"芸西村\": \"33.526928,133.809061\",\n\"本山町\": \"33.756979,133.591525\",\n\"大豊町\": \"33.764257,133.664269\",\n\"土佐町\": \"33.737396,133.532502\",\n\"大川村\": \"33.783695,133.466619\",\n\"いの町\": \"33.548668,133.427792\",\n\"仁淀川町\": \"33.575325,133.168232\",\n\"中土佐町\": \"33.327414,133.22823\",\n\"佐川町\": \"33.500838,133.286721\",\n\"越知町\": \"33.532889,133.252057\",\n\"梼原町\": \"33.391999,132.927288\",\n\"日高村\": \"33.534724,133.37338\",\n\"津野町\": \"33.446566,133.199399\",\n\"四万十町\": \"33.211656,133.137084\",\n\"大月町\": \"32.841481,132.70699\",\n\"三原村\": \"32.90609,132.84725\",\n\"黒潮町\": \"33.024861,133.010927\",\n\"福岡県\": \"33.606261,130.418114\",\n\"北九州市\": \"33.883406,130.875179\",\n\"北九州市門司区\": \"33.941207,130.959698\",\n\"北九州市若松区\": \"33.905486,130.811184\",\n\"北九州市戸畑区\": \"33.894654,130.829377\",\n\"北九州市小倉北区\": \"33.88074,130.87368\",\n\"北九州市小倉南区\": \"33.84641,130.884708\",\n\"北九州市八幡東区\": \"33.863546,130.81188\",\n\"北九州市八幡西区\": \"33.866376,130.764265\",\n\"福岡市\": \"33.590096,130.401754\",\n\"福岡市東区\": \"33.61776,130.417419\",\n\"福岡市博多区\": \"33.591402,130.414864\",\n\"福岡市中央区\": \"33.589207,130.393032\",\n\"福岡市南区\": \"33.561543,130.426586\",\n\"福岡市西区\": \"33.582848,130.323116\",\n\"福岡市城南区\": \"33.575708,130.369868\",\n\"福岡市早良区\": \"33.581818,130.34837\",\n\"大牟田市\": \"33.030348,130.446012\",\n\"久留米市\": \"33.319291,130.508389\",\n\"直方市\": \"33.743947,130.729641\",\n\"飯塚市\": \"33.645903,130.691449\",\n\"田川市\": \"33.638821,130.806136\",\n\"柳川市\": \"33.163111,130.405955\",\n\"八女市\": \"33.211831,130.557888\",\n\"筑後市\": \"33.212247,130.502115\",\n\"大川市\": \"33.20655,130.383902\",\n\"行橋市\": \"33.728703,130.982981\",\n\"豊前市\": \"33.611524,131.130276\",\n\"中間市\": \"33.816596,130.709115\",\n\"小郡市\": \"33.396507,130.555579\",\n\"筑紫野市\": \"33.496386,130.515607\",\n\"春日市\": \"33.53266,130.470305\",\n\"大野城市\": \"33.536298,130.478832\",\n\"宗像市\": \"33.805548,130.540515\",\n\"太宰府市\": \"33.51285,130.523883\",\n\"古賀市\": \"33.72875,130.470051\",\n\"福津市\": \"33.766801,130.491104\",\n\"うきは市\": \"33.347462,130.754922\",\n\"宮若市\": \"33.723531,130.666702\",\n\"嘉麻市\": \"33.563215,130.711534\",\n\"朝倉市\": \"33.423451,130.665514\",\n\"みやま市\": \"33.152447,130.474784\",\n\"糸島市\": \"33.557369,130.195638\",\n\"那珂川市\": \"33.499494,130.422255\",\n\"宇美町\": \"33.567767,130.511162\",\n\"篠栗町\": \"33.623844,130.526242\",\n\"志免町\": \"33.591443,130.479794\",\n\"須恵町\": \"33.587209,130.507246\",\n\"新宮町\": \"33.715139,130.44658\",\n\"久山町\": \"33.646703,130.500022\",\n\"粕屋町\": \"33.610841,130.480672\",\n\"芦屋町\": \"33.893733,130.663893\",\n\"水巻町\": \"33.854743,130.694906\",\n\"岡垣町\": \"33.853526,130.611613\",\n\"遠賀町\": \"33.848045,130.668198\",\n\"小竹町\": \"33.692452,130.712782\",\n\"鞍手町\": \"33.792051,130.674672\",\n\"桂川町\": \"33.578852,130.67812\",\n\"筑前町\": \"33.457057,130.595158\",\n\"東峰村\": \"33.397319,130.869942\",\n\"大刀洗町\": \"33.372399,130.622407\",\n\"大木町\": \"33.210412,130.439786\",\n\"広川町\": \"33.241439,130.551388\",\n\"香春町\": \"33.667958,130.847327\",\n\"添田町\": \"33.571746,130.854079\",\n\"糸田町\": \"33.652813,130.779103\",\n\"川崎町\": \"33.599992,130.815386\",\n\"大任町\": \"33.612325,130.852133\",\n\"赤村\": \"33.616658,130.870826\",\n\"福智町\": \"33.681846,130.775997\",\n\"苅田町\": \"33.776032,130.980479\",\n\"みやこ町\": \"33.699205,130.920404\",\n\"吉富町\": \"33.60272,131.175967\",\n\"上毛町\": \"33.578332,131.164412\",\n\"築上町\": \"33.656129,131.056143\",\n\"佐賀県\": \"33.249322,130.298799\",\n\"佐賀市\": \"33.263376,130.300771\",\n\"唐津市\": \"33.450018,129.968462\",\n\"鳥栖市\": \"33.377788,130.506002\",\n\"多久市\": \"33.288538,130.110118\",\n\"伊万里市\": \"33.264757,129.880833\",\n\"武雄市\": \"33.19374,130.0191\",\n\"鹿島市\": \"33.104084,130.098622\",\n\"小城市\": \"33.273672,130.216859\",\n\"嬉野市\": \"33.128331,130.059653\",\n\"神埼市\": \"33.310735,130.372985\",\n\"吉野ヶ里町\": \"33.321178,130.398899\",\n\"基山町\": \"33.427032,130.523138\",\n\"上峰町\": \"33.319539,130.426204\",\n\"みやき町\": \"33.324846,130.454285\",\n\"玄海町\": \"33.472236,129.874772\",\n\"有田町\": \"33.211363,129.848904\",\n\"大町町\": \"33.213878,130.116036\",\n\"江北町\": \"33.220461,130.157311\",\n\"白石町\": \"33.181076,130.143504\",\n\"太良町\": \"33.01951,130.179176\",\n\"長崎県\": \"32.74999,129.867628\",\n\"長崎市\": \"32.750252,129.877792\",\n\"佐世保市\": \"33.179873,129.715404\",\n\"島原市\": \"32.788061,130.370499\",\n\"諫早市\": \"32.84419,130.053609\",\n\"大村市\": \"32.900017,129.958252\",\n\"平戸市\": \"33.368045,129.553773\",\n\"松浦市\": \"33.34119,129.70915\",\n\"対馬市\": \"34.202726,129.287294\",\n\"壱岐市\": \"33.749897,129.691251\",\n\"五島市\": \"32.695567,128.840929\",\n\"西海市\": \"32.933147,129.64311\",\n\"雲仙市\": \"32.835111,130.18751\",\n\"南島原市\": \"32.659738,130.297705\",\n\"長与町\": \"32.825189,129.875095\",\n\"時津町\": \"32.828882,129.848541\",\n\"東彼杵町\": \"33.036975,129.917141\",\n\"川棚町\": \"33.072665,129.861478\",\n\"波佐見町\": \"33.138159,129.895611\",\n\"小値賀町\": \"33.191025,129.059038\",\n\"佐々町\": \"33.238366,129.650408\",\n\"新上五島町\": \"32.984464,129.073377\",\n\"熊本県\": \"32.790374,130.741134\",\n\"熊本市\": \"32.803233,130.708135\",\n\"熊本市中央区\": \"32.803233,130.708135\",\n\"熊本市東区\": \"32.780523,130.768069\",\n\"熊本市西区\": \"32.776351,130.647566\",\n\"熊本市南区\": \"32.715354,130.678929\",\n\"熊本市北区\": \"32.903555,130.694408\",\n\"八代市\": \"32.507589,130.601821\",\n\"人吉市\": \"32.216889,130.739392\",\n\"荒尾市\": \"32.986741,130.433181\",\n\"水俣市\": \"32.211865,130.408795\",\n\"玉名市\": \"32.935212,130.562773\",\n\"山鹿市\": \"33.017576,130.691365\",\n\"菊池市\": \"32.979663,130.813152\",\n\"宇土市\": \"32.687437,130.65831\",\n\"上天草市\": \"32.587497,130.430501\",\n\"宇城市\": \"32.647802,130.684281\",\n\"阿蘇市\": \"32.952087,131.121378\",\n\"天草市\": \"32.458643,130.193082\",\n\"合志市\": \"32.885921,130.789767\",\n\"美里町\": \"32.639611,130.788831\",\n\"玉東町\": \"32.918916,130.628529\",\n\"南関町\": \"33.061567,130.541309\",\n\"長洲町\": \"32.929747,130.452763\",\n\"和水町\": \"32.978161,130.605723\",\n\"大津町\": \"32.878951,130.868206\",\n\"菊陽町\": \"32.862507,130.828682\",\n\"南小国町\": \"33.098185,131.070881\",\n\"小国町\": \"33.121517,131.068296\",\n\"産山村\": \"32.995501,131.216787\",\n\"高森町\": \"32.827209,131.122019\",\n\"西原村\": \"32.834706,130.903065\",\n\"南阿蘇村\": \"32.845112,131.017788\",\n\"御船町\": \"32.714521,130.801883\",\n\"嘉島町\": \"32.739934,130.757301\",\n\"益城町\": \"32.791402,130.816407\",\n\"甲佐町\": \"32.651435,130.811237\",\n\"山都町\": \"32.68547,130.990467\",\n\"氷川町\": \"32.582364,130.67373\",\n\"芦北町\": \"32.298914,130.493088\",\n\"津奈木町\": \"32.233974,130.440263\",\n\"錦町\": \"32.201071,130.841092\",\n\"多良木町\": \"32.264178,130.935917\",\n\"湯前町\": \"32.276151,130.981024\",\n\"水上村\": \"32.31437,131.009548\",\n\"相良村\": \"32.235344,130.798067\",\n\"五木村\": \"32.397206,130.828092\",\n\"山江村\": \"32.246342,130.767319\",\n\"球磨村\": \"32.252672,130.651357\",\n\"あさぎり町\": \"32.240365,130.897817\",\n\"苓北町\": \"32.513081,130.054784\",\n\"大分県\": \"33.238128,131.612605\",\n\"大分市\": \"33.239461,131.609688\",\n\"別府市\": \"33.284619,131.491172\",\n\"中津市\": \"33.598277,131.188188\",\n\"日田市\": \"33.321136,130.941355\",\n\"佐伯市\": \"32.960191,131.899504\",\n\"臼杵市\": \"33.125922,131.804646\",\n\"津久見市\": \"33.072402,131.861171\",\n\"竹田市\": \"32.973175,131.398408\",\n\"豊後高田市\": \"33.556173,131.447046\",\n\"杵築市\": \"33.417003,131.616374\",\n\"宇佐市\": \"33.53201,131.349481\",\n\"豊後大野市\": \"32.978041,131.585058\",\n\"由布市\": \"33.180099,131.426761\",\n\"国東市\": \"33.563333,131.732385\",\n\"姫島村\": \"33.724454,131.645136\",\n\"日出町\": \"33.369473,131.532528\",\n\"九重町\": \"33.228454,131.188783\",\n\"玖珠町\": \"33.283282,131.151283\",\n\"宮崎県\": \"31.910975,131.423863\",\n\"宮崎市\": \"31.90767,131.420197\",\n\"都城市\": \"31.719596,131.061618\",\n\"延岡市\": \"32.582306,131.664898\",\n\"日南市\": \"31.601949,131.378738\",\n\"小林市\": \"31.99665,130.972726\",\n\"日向市\": \"32.422791,131.623934\",\n\"串間市\": \"31.464572,131.228641\",\n\"西都市\": \"32.108512,131.401327\",\n\"えびの市\": \"32.045477,130.810991\",\n\"三股町\": \"31.730707,131.124975\",\n\"高原町\": \"31.928379,131.007865\",\n\"国富町\": \"31.99066,131.323561\",\n\"綾町\": \"31.999074,131.253009\",\n\"高鍋町\": \"32.128066,131.503287\",\n\"新富町\": \"32.068907,131.487849\",\n\"西米良村\": \"32.226354,131.154454\",\n\"木城町\": \"32.163786,131.473347\",\n\"川南町\": \"32.192061,131.525896\",\n\"都農町\": \"32.256556,131.559695\",\n\"門川町\": \"32.469759,131.648819\",\n\"諸塚村\": \"32.512189,131.330318\",\n\"椎葉村\": \"32.467346,131.158377\",\n\"美郷町\": \"32.440255,131.423201\",\n\"高千穂町\": \"32.711726,131.307756\",\n\"日之影町\": \"32.653788,131.388084\",\n\"五ヶ瀬町\": \"32.68292,131.196184\",\n\"鹿児島県\": \"31.560185,130.558141\",\n\"鹿児島市\": \"31.596792,130.557335\",\n\"鹿屋市\": \"31.378267,130.852208\",\n\"枕崎市\": \"31.27285,130.296868\",\n\"阿久根市\": \"32.014356,130.19262\",\n\"出水市\": \"32.090461,130.352691\",\n\"指宿市\": \"31.252803,130.633117\",\n\"西之表市\": \"30.732478,130.99736\",\n\"垂水市\": \"31.492723,130.70102\",\n\"薩摩川内市\": \"31.813211,130.304205\",\n\"日置市\": \"31.63373,130.402204\",\n\"曽於市\": \"31.65349,131.019182\",\n\"霧島市\": \"31.741031,130.763061\",\n\"いちき串木野市\": \"31.71458,130.271962\",\n\"南さつま市\": \"31.416611,130.323444\",\n\"志布志市\": \"31.495344,131.045436\",\n\"奄美市\": \"28.377245,129.493838\",\n\"南九州市\": \"31.378314,130.441767\",\n\"伊佐市\": \"32.05708,130.612949\",\n\"姶良市\": \"31.728225,130.627824\",\n\"三島村\": \"31.594502,130.560712\",\n\"十島村\": \"31.593287,130.560565\",\n\"さつま町\": \"31.906231,130.455301\",\n\"長島町\": \"32.199295,130.176929\",\n\"湧水町\": \"31.951677,130.721141\",\n\"大崎町\": \"31.429239,131.005859\",\n\"東串良町\": \"31.385681,130.973332\",\n\"錦江町\": \"31.243502,130.787634\",\n\"南大隅町\": \"31.217337,130.768247\",\n\"肝付町\": \"31.344661,130.945228\",\n\"中種子町\": \"30.532941,130.95851\",\n\"南種子町\": \"30.413227,130.901104\",\n\"屋久島町\": \"30.37116,130.665309\",\n\"大和村\": \"28.358022,129.395235\",\n\"宇検村\": \"28.280775,129.297411\",\n\"瀬戸内町\": \"28.14651,129.314721\",\n\"龍郷町\": \"28.413161,129.589328\",\n\"喜界町\": \"28.316855,129.939988\",\n\"徳之島町\": \"27.72659,129.018699\",\n\"天城町\": \"27.809218,128.897732\",\n\"伊仙町\": \"27.673564,128.937598\",\n\"和泊町\": \"27.39217,128.655241\",\n\"知名町\": \"27.333536,128.573694\",\n\"与論町\": \"27.048501,128.414829\",\n\"沖縄県\": \"26.212365,127.680975\",\n\"那覇市\": \"26.212295,127.679218\",\n\"宜野湾市\": \"26.281611,127.778437\",\n\"石垣市\": \"24.340682,124.155592\",\n\"浦添市\": \"26.245835,127.721832\",\n\"名護市\": \"26.591671,127.977605\",\n\"糸満市\": \"26.124284,127.666312\",\n\"沖縄市\": \"26.334218,127.805683\",\n\"豊見城市\": \"26.161087,127.669191\",\n\"うるま市\": \"26.379187,127.857427\",\n\"宮古島市\": \"24.805412,125.281176\",\n\"南城市\": \"26.144401,127.766833\",\n\"国頭村\": \"26.74569,128.178029\",\n\"大宜味村\": \"26.701597,128.120395\",\n\"東村\": \"26.633019,128.156148\",\n\"今帰仁村\": \"26.682552,127.972796\",\n\"本部町\": \"26.658079,127.898108\",\n\"恩納村\": \"26.497399,127.853646\",\n\"宜野座村\": \"26.481597,127.975636\",\n\"金武町\": \"26.45621,127.925975\",\n\"伊江村\": \"26.71346,127.807086\",\n\"読谷村\": \"26.396155,127.744435\",\n\"嘉手納町\": \"26.36177,127.75538\",\n\"北谷町\": \"26.319941,127.763825\",\n\"北中城村\": \"26.301054,127.793074\",\n\"中城村\": \"26.267668,127.79127\",\n\"西原町\": \"26.222837,127.758844\",\n\"与那原町\": \"26.199452,127.754803\",\n\"南風原町\": \"26.191063,127.728584\",\n\"渡嘉敷村\": \"26.197385,127.364333\",\n\"座間味村\": \"26.228908,127.303253\",\n\"粟国村\": \"26.582344,127.227192\",\n\"渡名喜村\": \"26.372141,127.141066\",\n\"南大東村\": \"25.828903,131.23191\",\n\"北大東村\": \"25.945754,131.298763\",\n\"伊平屋村\": \"27.039238,127.968671\",\n\"伊是名村\": \"26.92836,127.941234\",\n\"久米島町\": \"26.34069,126.804929\",\n\"八重瀬町\": \"26.158219,127.718728\",\n\"多良間村\": \"24.66936,124.701587\",\n\"竹富町\": \"24.339766,124.154453\",\n\"与那国町\": \"24.467957,123.004592\",\n};\n\nconst locationName = params.location;\nmsg.payload = {\n    location: locations[locationName],\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":2898.982650756836,"y":1211,"wires":[["fd4c390b.4412a8"]]},{"id":"71c3899f.7b1008","type":"change","z":"74201f52.286f","name":"セッションIDと応答メッセージの保存","rules":[{"t":"set","p":"temp.sessionId","pt":"msg","to":"payload.session_id","tot":"msg"},{"t":"set","p":"temp.messages","pt":"msg","to":"msg.payload.output.generic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2297.982666015625,"y":1305.0000596046448,"wires":[["273571af.2ae70e"]]},{"id":"132949f7.c1cc56","type":"change","z":"74201f52.286f","name":"気象情報保存","rules":[{"t":"set","p":"temp.rakuten","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3421.982650756836,"y":1211,"wires":[["d503ed5.89eb31"]]},{"id":"cce20d5c.45167","type":"comment","z":"74201f52.286f","name":"未入力の条件あり","info":"","x":2647.982650756836,"y":1360,"wires":[]},{"id":"72e4f35a.eccb4c","type":"comment","z":"74201f52.286f","name":"全ての条件が入力済み","info":"","x":2642.982650756836,"y":1247,"wires":[]},{"id":"259dd79.bc9ee28","type":"change","z":"74201f52.286f","name":"一時保存データ削除","rules":[{"t":"delete","p":"temp.rakuten","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3972.553985595703,"y":1306.1428480148315,"wires":[[]]},{"id":"255f96ac.9fa20a","type":"debug","z":"74201f52.286f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2204.465301513672,"y":1420.9895935058594,"wires":[]},{"id":"1a2c007b.3a844","type":"watson-assistant-v2","z":"74201f52.286f","name":"チャットボット呼び出し","default-endpoint":false,"service-endpoint":"https://gateway-tok.watsonplatform.net/assistant/api","assistant_id":"d7de4d39-d6b4-468d-bf22-0f41158bafdb","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"x":3297.965301513672,"y":1645.9895935058594,"wires":[["d503ed5.89eb31","5a682adc.bd8d44"]]},{"id":"2e4fca23.4a36c6","type":"function","z":"74201f52.286f","name":"Watson用にリクエストデータを整形","func":"return Object.assign(\n    {},\n    msg,\n    {\n        payload: null,\n        params: {\n            session_id: msg.temp.sessionId\n        },\n        additional_context: {\n            fuga: '@@@@@'\n        }\n    }\n);","outputs":1,"noerr":0,"x":2970.965301513672,"y":1638.9895935058594,"wires":[["1a2c007b.3a844"]]},{"id":"5a682adc.bd8d44","type":"debug","z":"74201f52.286f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":3596.965301513672,"y":1654.9895935058594,"wires":[]},{"id":"53914c70.6c86d4","type":"change","z":"74201f52.286f","name":"応答メッセージの保存","rules":[{"t":"set","p":"temp.messages","pt":"msg","to":"msg.payload.output.generic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2710.982635498047,"y":122.00000143051147,"wires":[["c838a30a.073d4","a05ae589.b01688"]]},{"id":"e82f8f0b.672ab","type":"comment","z":"74201f52.286f","name":"気象情報を取得","info":"","x":1554.982650756836,"y":48,"wires":[]},{"id":"d6a7d047.7cc48","type":"function","z":"74201f52.286f","name":"パラメータ変換","func":"var param =  msg.payload.context.skills['main skill'].user_defined\nif(param.sex==\"male\"){\n    param.sex=0;\n}else{\n    param.sex=1\n}\nmsg.payload = {\n    age: param.age,\n    sex: param.sex\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1580,"y":120,"wires":[["4253e22.d58e11c"]]},{"id":"17c514fc.229c3b","type":"function","z":"74201f52.286f","name":"順位の値引き渡し","func":"\nflow.set(\"ranknumber\",msg.payload.context.skills['main skill'].user_defined.ranknumber);","outputs":1,"noerr":0,"x":1830,"y":180,"wires":[["8ef8c5b.e507a38"]]},{"id":"4aaf89c1.f910d8","type":"debug","z":"74201f52.286f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2040,"y":220,"wires":[]},{"id":"acf2554b.d5ab78","type":"debug","z":"74201f52.286f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1730,"y":340,"wires":[]},{"id":"a05ae589.b01688","type":"debug","z":"74201f52.286f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2940,"y":380,"wires":[]},{"id":"ca58ffe0.bd773","type":"debug","z":"74201f52.286f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1250,"y":440,"wires":[]}]